<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StationSetting</key>
	<array>
		<dict>
			<key>Test</key>
			<dict>
				<key>FailCoordinate</key>
				<dict>
					<key>FirstFailArea</key>
					<string>-6,6,4</string>
					<key>SecondFailArea</key>
					<string>-4,4,5</string>
					<key>PassArea</key>
					<string>-6,2,8</string>
				</dict>
				<key>StationCoordinate</key>
				<dict>
					<key>T111</key>
					<string>-4:-2:2</string>
					<key>T112</key>
					<string>-4:0:2</string>
					<key>T122</key>
					<string>-4:0:4</string>
					<key>T133</key>
					<string>-4:6:6</string>
					<key>T135</key>
					<string>-4:16:6</string>
					<key>T113</key>
					<string>-2:6:2</string>
					<key>T211</key>
					<string>-5:-2:2</string>
					<key>T212</key>
					<string>-5:0:2</string>
					<key>T222</key>
					<string>-5:0:4</string>
					<key>T233</key>
					<string>-5:6:6</string>
					<key>T235</key>
					<string>-5:16:6</string>
					<key>T213</key>
					<string>-5:6:2</string>
					<key>T311</key>
					<string>-5:-2:2</string>
					<key>T312</key>
					<string>-6:0:2</string>
					<key>T322</key>
					<string>-6:0:4</string>
					<key>T333</key>
					<string>-6:5:6</string>
					<key>T335</key>
					<string>-4:16:6</string>
					<key>T313</key>
					<string>-6:6:2</string>
					<key>T316</key>
					<string>-8:-2:2</string>
				</dict>
				<key>TestPassTime</key>
				<string>280~340</string>
				<key>TestFailTime</key>
				<string>200~280</string>
				<key>FailRate</key>
				<string>0.02</string>
				<key>RetestRate</key>
				<string>0.01</string>
				<key>RetestRule</key>
				<string>AAB</string>
			</dict>
		</dict>
		<dict>
			<key>WiFi</key>
			<dict>
				<key>FailCoordinate</key>
				<dict>
					<key>FirstFailArea</key>
					<string>-6,4,20</string>
					<key>SecondFailArea</key>
					<string>-4,6,80</string>
					<key>PassArea</key>
					<string>-3,4,5</string>
				</dict>
				<key>StationCoordinate</key>
				<dict>
					<key>W113</key>
					<string>-4:2:2</string>
					<key>W123</key>
					<string>-4:2:4</string>
					<key>W131</key>
					<string>-4:2:6</string>
					<key>W132</key>
					<string>-4:4:6</string>
					<key>W134</key>
					<string>-4:12:6</string>
					<key>W111</key>
					<string>-2:10:2</string>
					<key>W213</key>
					<string>-4:2:2</string>
					<key>W223</key>
					<string>-4:2:4</string>
					<key>W231</key>
					<string>-4:2:6</string>
					<key>W232</key>
					<string>-4:4:6</string>
					<key>W234</key>
					<string>-4:12:6</string>
					<key>W211</key>
					<string>-2:10:2</string>
					<key>W313</key>
					<string>-4:2:2</string>
					<key>W323</key>
					<string>-4:2:4</string>
					<key>W331</key>
					<string>-4:2:6</string>
					<key>W332</key>
					<string>-4:4:6</string>
					<key>W334</key>
					<string>-4:12:6</string>
					<key>W413</key>
					<string>-4:2:2</string>
				</dict>
				<key>TestPassTime</key>
				<string>140~280</string>
				<key>TestFailTime</key>
				<string>100~180</string>
				<key>FailRate</key>
				<string>0.02</string>
				<key>RetestRate</key>
				<string>0.01</string>
				<key>RetestRule</key>
				<string>AAB</string>
			</dict>
		</dict>
	</array>
	<key>EndTime</key>
	<string>0:10:0</string>
	<key>IBTxtFSpeed</key>
	<string>10</string>
	<key>RobotCoordinate</key>
	<string>1,4,1</string>
	<key>PassAreaCoordinate</key>
	<string>1,-4,19</string>
	<key>FailAreaCoordinate</key>
	<string>-1,-4,30</string>
	<key>UntestAreaCoordinate</key>
	<string>3,4,10</string>
	<key>BufferAreaCoordinate</key>
	<string>-8,-6,10</string>
	<key>RobotMoveSpeed</key>
	<string>40</string>
	<key>SlotNumber</key>
	<string>4</string>
	<key>RobotPickerNumber</key>
	<string>8</string>
	<key>InputUnitNumber</key>
	<string>1000</string>
</dict>
</plist>
