<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserConfiguration</key>
	<dict>
		<key>scott</key>
		<string>/Users/scott/Git</string>
	</dict>
	<key>ProjectMapping</key>
	<dict>
		<key>Jedi_QTx</key>
		<string>D20</string>
	</dict>
</dict>
</plist>
