<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisableLiveFunction</key>
	<true/>
	<key>CancelToEndSetting</key>
	<dict>
		<key>FIST-CSD</key>
		<dict>
			<key>ReduceNumberOfCancelToEnd</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>DeviceSetting</key>
	<dict>
		<key>FIXTURE</key>
		<dict>
			<key>PARITY</key>
			<string>NONE</string>
			<key>ENDFLAG</key>
			<string></string>
			<key>BAUDE_RATE</key>
			<string>9600</string>
			<key>DATA_BIT</key>
			<string>8</string>
			<key>TYPE</key>
			<integer>0</integer>
			<key>UART_COLOR</key>
			<string>blue</string>
			<key>STOP_BIT</key>
			<string>1</string>
		</dict>
		<key>LIGHTMETER</key>
		<dict>
			<key>BAUDE_RATE</key>
			<integer>9600</integer>
			<key>EXPECT</key>
			<string>02 30 30 31</string>
			<key>TRY</key>
			<string></string>
			<key>TYPE</key>
			<integer>1</integer>
		</dict>
		<key>MIKEY</key>
		<dict>
			<key>BAUDE_RATE</key>
			<integer>115200</integer>
			<key>EXPECT</key>
			<array>
				<string>]</string>
				<string>ok</string>
			</array>
			<key>TRY</key>
			<string>h</string>
			<key>TYPE</key>
			<integer>0</integer>
		</dict>
		<key>MOBILE</key>
		<dict>
			<key>BAUDE_RATE</key>
			<string>115200</string>
			<key>EXPECT</key>
			<array>
				<string>?SYNTX ERROR</string>
				<string>not found.</string>
			</array>
			<key>MATCH_TYPE</key>
			<integer>1</integer>
			<key>TRY</key>
			<string>sx</string>
			<key>TYPE</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Log_Path</key>
	<dict>
		<key>ALSPath</key>
		<string>/vault/Muifa/ALS</string>
		<key>LogPath</key>
		<string>/vault/Muifa</string>
		<key>SaveCycleTimeLog</key>
		<false/>
		<key>SaveBinary</key>
		<false/>
		<key>SaveLog</key>
		<true/>
	</dict>
	<key>ModeSetting</key>
	<dict>
		<key>AutoDetectAndRun</key>
		<false/>
		<key>CableSerial</key>
		<string>usbserial</string>
		<key>CurrentMode</key>
		<string>UnitsPreference</string>
		<key>UnitsPreference</key>
		<dict>
			<key>Unit1</key>
			<dict>
				<key>DeviceRequire</key>
				<dict>
					<key>MOBILE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>UUT1</string>
					</dict>
				</dict>
				<key>EnableUnit</key>
				<true/>
			</dict>
			<key>Unit2</key>
			<dict>
				<key>DeviceRequire</key>
				<dict>
					<key>FIXTURE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>FIXTURE2</string>
					</dict>
					<key>MOBILE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>UUT2</string>
					</dict>
				</dict>
				<key>EnableUnit</key>
				<false/>
			</dict>
			<key>Unit3</key>
			<dict>
				<key>DeviceRequire</key>
				<dict>
					<key>FIXTURE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>FIXTURE3</string>
					</dict>
					<key>MOBILE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>UUT3</string>
					</dict>
				</dict>
				<key>EnableUnit</key>
				<false/>
			</dict>
			<key>Unit4</key>
			<dict>
				<key>DeviceRequire</key>
				<dict>
					<key>FIXTURE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>FIXTURE4</string>
					</dict>
					<key>MOBILE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>UUT4</string>
					</dict>
				</dict>
				<key>EnableUnit</key>
				<false/>
			</dict>
			<key>Unit5</key>
			<dict>
				<key>DeviceRequire</key>
				<dict>
					<key>FIXTURE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>FIXTURE5</string>
					</dict>
					<key>MOBILE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>UUT5</string>
					</dict>
				</dict>
				<key>EnableUnit</key>
				<false/>
			</dict>
			<key>Unit6</key>
			<dict>
				<key>DeviceRequire</key>
				<dict>
					<key>FIXTURE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>FIXTURE6</string>
					</dict>
					<key>MOBILE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>UUT6</string>
					</dict>
				</dict>
				<key>EnableUnit</key>
				<false/>
			</dict>
			<key>Unit7</key>
			<dict>
				<key>DeviceRequire</key>
				<dict>
					<key>FIXTURE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>FIXTURE7</string>
					</dict>
					<key>MOBILE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>UUT7</string>
					</dict>
				</dict>
				<key>EnableUnit</key>
				<false/>
			</dict>
			<key>Unit8</key>
			<dict>
				<key>DeviceRequire</key>
				<dict>
					<key>FIXTURE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>FIXTURE8</string>
					</dict>
					<key>MOBILE</key>
					<dict>
						<key>EnableDevice</key>
						<true/>
						<key>PortName</key>
						<string>UUT8</string>
					</dict>
				</dict>
				<key>EnableUnit</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>ScriptInfo</key>
	<dict>
		<key>GroundhogInfo</key>
		<string>/vault/data_collection/test_station_config/gh_station_info.json</string>
		<key>ReduceNumberOfCancelToEnd</key>
		<integer>1</integer>
		<key>ScriptFileName</key>
		<string>Syscfg_Keys.plist</string>
	</dict>
	<key>SN_Manager</key>
	<dict>
		<key>SN1</key>
		<dict>
			<key>Need Judge Rule</key>
			<true/>
			<key>Show Debug SN on UI</key>
			<string></string>
			<key>Show title on UI</key>
			<string>*ISN*</string>
			<key>SN Rule Lenth</key>
			<string>12</string>
		</dict>
		<key>SN2</key>
		<dict>
			<key>Need Judge Rule</key>
			<true/>
			<key>Show Debug SN on UI</key>
			<string></string>
			<key>Show title on UI</key>
			<string>OP ID</string>
			<key>SN Rule Lenth</key>
			<string>8</string>
		</dict>
		<key>SN3</key>
		<dict>
			<key>Need Judge Rule</key>
			<false/>
			<key>Show Debug SN on UI</key>
			<string></string>
			<key>Show title on UI</key>
			<string>HOUSINGSN</string>
			<key>SN Rule Lenth</key>
			<string>17</string>
		</dict>
		<key>SN4</key>
		<dict>
			<key>Need Judge Rule</key>
			<true/>
			<key>Show Debug SN on UI</key>
			<string></string>
			<key>Show title on UI</key>
			<string>Grape SN</string>
			<key>SN Rule Lenth</key>
			<string>18</string>
		</dict>
		<key>SN_Arrangement</key>
		<array/>
	</dict>
</dict>
</plist>
