<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SERVER</key>
	<dict>
		<key>KOMODO</key>
		<dict>
			<key>URL</key>
			<string>http://17.239.230.122/komodo/index.cgi</string>
			<key>USER_AGENT</key>
			<string>komodo-agent/1.0</string>
			<key>AV</key>
			<string>1.0</string>
			<key>AUID</key>
			<string>PGPD-9895-PANT-9F83-PROJ-131</string>
			<key>SITE</key>
			<string>PGPD</string>
		</dict>
	</dict>
	<key>TIME</key>
	<dict>
		<key>SECOND</key>
		<integer>10</integer>
	</dict>
	<key>LISTEN_FILEPATH</key>
	<dict>
		<key>LISTENFILE</key>
		<string>/Users/gdlocal/Public/Workspace/AlarmFiles</string>
		<key>AE1</key>
		<array>
			<string>/Users/scott/Public/AE/AE1/data</string>
			<string>/Users/scott/Public/AE/AE1/images</string>
			<string>/Users/scott/Public/AE/AE1/upload</string>
		</array>
		<key>AE2</key>
		<array>
			<string>/Users/scott/Public/AE/AE2/data</string>
			<string>/Users/scott/Public/AE/AE2/images</string>
			<string>/Users/scott/Public/AE/AE2/upload</string>
		</array>
		<key>AE3</key>
		<array>
			<string>/Users/scott/Public/AE/AE3/data</string>
			<string>/Users/scott/Public/AE/AE3/images</string>
			<string>/Users/scott/Public/AE/AE3/upload</string>
		</array>
		<key>AE4</key>
		<array>
			<string>/Users/scott/Public/AE/AE4/data</string>
			<string>/Users/scott/Public/AE/AE4/images</string>
			<string>/Users/scott/Public/AE/AE4/upload</string>
		</array>
		<key>AE5</key>
		<array>
			<string>/Users/scott/Public/AE/AE5/data</string>
			<string>/Users/scott/Public/AE/AE5/images</string>
			<string>/Users/scott/Public/AE/AE5/upload</string>
		</array>
	</dict>
	<key>MOVE_FILEPATH</key>
	<dict>
		<key>MOVEFILE</key>
		<string>/vault/komodo_upload</string>
	</dict>
	<key>DOWNLOAD_FILEPATH</key>
	<dict>
		<key>DOWNLOADFILE</key>
		<string>/vault/komodo_download</string>
	</dict>
	<key>CAKE_SWICH</key>
	<true/>
</dict>
</plist>
