<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stage</key>
	<string>DVT</string>
	<key>Project</key>
	<string>D10</string>
	<key>GitOverlayListPath</key>
	<string>/Git_Repostory/Kirin_QTx/Code/Station/Overlay status.plist</string>
	<key>HistoryRecordPath</key>
	<string>/vault/History.plist</string>
	<key>TestCoveragePath</key>
	<string>/Git_Repostory/Kirin_Doc/TestCoverage/DVT/D10_DVT_QTx_TestCoverage.xlsx</string>
	<key>MailContract</key>
	<dict>
		<key>Coding</key>
		<dict>
			<key>Allen</key>
			<string>allen8_liu@pegatroncorp.com</string>
			<key>Jane</key>
			<string>Jane6_Chen@pegatroncorp.com</string>
			<key>Sky</key>
			<string>Sky_Ge@pegatroncorp.com</string>
			<key>Shirley</key>
			<string>Shirley_Shen@pegatroncorp.com</string>
			<key>Belle</key>
			<string>Belle8_Li@pegatroncorp.com</string>
			<key>Scott</key>
			<string>Scott_Song@pegatroncorp.com</string>
			<key>Shuai</key>
			<string>Shuai5_Li@pegatroncorp.com</string>
			<key>Zhuansheng</key>
			<string>Zhuansheng_Li@pegatroncorp.com</string>
			<key>Windy</key>
			<string>Windy6_Wei@pegatroncorp.com</string>
			<key>July</key>
			<string>July_Bao@pegatroncorp.com</string>
			<key>Mario</key>
			<string>Mario_Sun@pegatroncorp.com</string>
			<key>York</key>
			<string>York_Xu@pegatroncorp.com</string>
			<key>Joker</key>
			<string>Joker_Wu@pegatroncorp.com</string>
			<key>Linda</key>
			<string>Linda8_Yang@pegatroncorp.com</string>
			<key>Ken</key>
			<string>Ken_Yuan@pegatroncorp.com</string>
			<key>ALL</key>
			<string>D580120R04@intra.pegatroncorp.com</string>
		</dict>
		<key>Validation</key>
		<dict>
			<key>NONE</key>
			<string>NONE</string>
			<key>KangKang</key>
			<string>Kangkang6_Guo@pegatroncorp.com</string>
			<key>Allen</key>
			<string>allen8_liu@pegatroncorp.com</string>
			<key>Sky</key>
			<string>Sky_Ge@pegatroncorp.com</string>
		</dict>
	</dict>
	<key>GroupContract</key>
	<dict>
		<key>NONE</key>
		<string>NONE</string>
		<key>Allen</key>
		<string>allen8_liu@pegatroncorp.com</string>
		<key>Kirin_ATS</key>
		<string>Kirin_ATS@pegatroncorp.com</string>
		<key>Department 2</key>
		<string>D580120R04@intra.pegatroncorp.com</string>
	</dict>
	<key>Station</key>
	<array>
		<string>NONE</string>
		<string>HSG-BUTTONFLEX</string>
		<string>CG-SENSOR</string>
		<string>CONNECTIVITY-TEST</string>
		<string>UNIT-SHUTDOWN</string>
		<string>CG-INSTALL</string>
		<string>QT0</string>
		<string>QT1-PREBURN</string>
		<string>QT2-POSTBURN</string>
		<string>QT0-NED</string>
		<string>QT2-POSTBURN-NED</string>
	</array>
	<key>Coco</key>
	<dict>
		<key>Hans</key>
		<string>4567</string>
		<key>Ahmad</key>
		<string>4567</string>
	</dict>
</dict>
</plist>
