<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_Camera_RGB</key>
		<array>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Find Back Camera</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --find</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --find</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
						<string>Pass</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pick number 3, </string>
					<key>END</key>
					<string>Pass</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{back  detected}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Find Front Camera</key>
		<array>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pick number 1, </string>
					<key>END</key>
					<string>pick number 3</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{front  detected}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Camera RGB (Front)</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Front Led In</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Front Led In</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Front R Led On</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Front R Led On</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --pick front</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --pick front</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>8</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --preview on</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --preview on</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>8</integer>
				</dict>
			</dict>
			<dict>
				<key>WAIT_MS:RETURN_VALUE:</key>
				<dict>
					<key>TIME</key>
					<string>500</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --rgb</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --rgb</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>RED</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>0</integer>
					<key>KEY</key>
					<string>RED</string>
					<key>ROW</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>red</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Front R Led Off</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Front R Led Off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Front G Led On</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Front G Led On</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>WAIT_MS:RETURN_VALUE:</key>
				<dict>
					<key>TIME</key>
					<string>500</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --rgb</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --rgb</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Green</string>
				</dict>
			</dict>
			<dict>
				<key>LoopItem</key>
				<dict>
					<key>LoopEnd</key>
					<string>20</string>
					<key>LoopRepeatTime</key>
					<string>15</string>
					<key>LoopStart</key>
					<string>18</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>0</integer>
					<key>KEY</key>
					<string>Green</string>
					<key>ROW</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>green</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Front G Led Off</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Front G Led Off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Front B Led On</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Front B Led On</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>WAIT_MS:RETURN_VALUE:</key>
				<dict>
					<key>TIME</key>
					<string>500</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --rgb</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --rgb</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Blue</string>
				</dict>
			</dict>
			<dict>
				<key>LoopItem</key>
				<dict>
					<key>LoopEnd</key>
					<string>31</string>
					<key>LoopRepeatTime</key>
					<string>15</string>
					<key>LoopStart</key>
					<string>29</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>0</integer>
					<key>KEY</key>
					<string>Blue</string>
					<key>ROW</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>blue</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Front B Led Off</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Front B Led Off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --preview off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --preview off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --stop</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --stop</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>50</integer>
				</dict>
			</dict>
			<dict>
				<key>combineVGAsn:RETURN_VALUE:</key>
				<dict>
					<key>item0</key>
					<string>red</string>
					<key>item1</key>
					<string>green</string>
					<key>item2</key>
					<string>blue</string>
					<key>symbol</key>
					<string>RGB</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{Red/Green/Blue/}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Camera RGB (Back)</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Back R Led On</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Back R Led On</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --pick back</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --pick back</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>8</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --preview on</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --preview on</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>8</integer>
				</dict>
			</dict>
			<dict>
				<key>WAIT_MS:RETURN_VALUE:</key>
				<dict>
					<key>TIME</key>
					<string>2000</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --rgb</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --rgb</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>RED</string>
				</dict>
			</dict>
			<dict>
				<key>LoopItem</key>
				<dict>
					<key>LoopEnd</key>
					<string>9</string>
					<key>LoopRepeatTime</key>
					<string>15</string>
					<key>LoopStart</key>
					<string>7</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>0</integer>
					<key>KEY</key>
					<string>RED</string>
					<key>ROW</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>red</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Back R Led Off</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Back R Led Off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Back G Led On</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Back G Led On</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>WAIT_MS:RETURN_VALUE:</key>
				<dict>
					<key>TIME</key>
					<string>1000</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --rgb</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --rgb</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Green</string>
				</dict>
			</dict>
			<dict>
				<key>LoopItem</key>
				<dict>
					<key>LoopEnd</key>
					<string>20</string>
					<key>LoopRepeatTime</key>
					<string>15</string>
					<key>LoopStart</key>
					<string>18</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>0</integer>
					<key>KEY</key>
					<string>Green</string>
					<key>ROW</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>green</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Back G Led Off</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Back G Led Off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Back B Led On</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Back B Led On</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>WAIT_MS:RETURN_VALUE:</key>
				<dict>
					<key>TIME</key>
					<string>1000</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --rgb</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --rgb</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Blue</string>
				</dict>
			</dict>
			<dict>
				<key>LoopItem</key>
				<dict>
					<key>LoopEnd</key>
					<string>31</string>
					<key>LoopRepeatTime</key>
					<string>15</string>
					<key>LoopStart</key>
					<string>29</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>0</integer>
					<key>KEY</key>
					<string>Blue</string>
					<key>ROW</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>blue</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Back B Led Off</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Back B Led Off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --preview off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --preview off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>camera --stop</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>camera --stop</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Pass</string>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>50</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Front Led Out</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Front Led Out</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>PASS</string>
						<string>*_*</string>
					</array>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>combineVGAsn:RETURN_VALUE:</key>
				<dict>
					<key>item0</key>
					<string>red</string>
					<key>item1</key>
					<string>green</string>
					<key>item2</key>
					<string>blue</string>
					<key>symbol</key>
					<string>RGB</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{Red/Green/Blue/}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_Camera_RGB</key>
		<array>
			<dict>
				<key>SHOW_RESULT_ON_SCREEN:RETURN_VALUE:</key>
				<dict>
					<key>READ_COMMAND:RETURN_VALUE:</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>PASS_RECEIVE</key>
						<array>
							<string>:-)</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>5</integer>
					</dict>
					<key>SINGLE/MULTI</key>
					<string>SINGLE</string>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
