<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="2.2.3">
<array>
	<dict>
		<key>START_TEST_Display Grounding-system</key>
		<array>
			<dict>
				<key>Init_34401A:RETURN_VALUE:</key>
				<dict>
					<key>BOARDID</key>
					<string>0</string>
					<key>PRIMARYADDRESS</key>
					<string>22</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Scan SN</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ISN</string>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point 1 Cable Loss</key>
		<array>
			<dict>
				<key>ADD_CABLE_LOSS_TO_CSV:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 1</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Unit</key>
					<string>Ohm</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point 2 Cable Loss</key>
		<array>
			<dict>
				<key>ADD_CABLE_LOSS_TO_CSV:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 2</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Unit</key>
					<string>Ohm</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point 3 Cable Loss</key>
		<array>
			<dict>
				<key>ADD_CABLE_LOSS_TO_CSV:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 3</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Unit</key>
					<string>Ohm</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point 4 Cable Loss</key>
		<array>
			<dict>
				<key>ADD_CABLE_LOSS_TO_CSV:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 4</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Unit</key>
					<string>Ohm</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point1</key>
		<array>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string>OK</string>
					<key>IMAGE</key>
					<string>SystemTest.png</string>
					<key>MESSAGE</key>
					<string>Please place the probes across the point 0 to point 1( 请将探针放置在测点0和测点1之间 )</string>
					<key>POINT</key>
					<string>457,147,429,147,20</string>
					<key>SELF_DEFINE</key>
					<true/>
					<key>TITLE</key>
					<string>System Test Point1</string>
				</dict>
			</dict>
			<dict>
				<key>Send_And_Receive_GPIB_Command_For_Several_Times:RETURN_VALUE:</key>
				<dict>
					<key>COMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>RECEIVE_DATA:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 1</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Unit</key>
					<string>Ohm</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point2</key>
		<array>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string>OK</string>
					<key>IMAGE</key>
					<string>SystemTest.png</string>
					<key>MESSAGE</key>
					<string>Please place the probes across the point 0 to point 2( 请将探针放置在测点0和测点2之间 )</string>
					<key>POINT</key>
					<string>457,147,290,249,20</string>
					<key>SELF_DEFINE</key>
					<true/>
					<key>TITLE</key>
					<string>System Test Point2</string>
				</dict>
			</dict>
			<dict>
				<key>Send_And_Receive_GPIB_Command_For_Several_Times:RETURN_VALUE:</key>
				<dict>
					<key>COMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>RECEIVE_DATA:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 2</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Unit</key>
					<string>Ohm</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point3</key>
		<array>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string>OK</string>
					<key>IMAGE</key>
					<string>SystemTest.png</string>
					<key>MESSAGE</key>
					<string>Please place the probes across the point 0 to point 3( 请将探针放置在测点0和测点3之间 )</string>
					<key>POINT</key>
					<string>457,147,147,150,20</string>
					<key>SELF_DEFINE</key>
					<true/>
					<key>TITLE</key>
					<string>System Test Point3</string>
				</dict>
			</dict>
			<dict>
				<key>Send_And_Receive_GPIB_Command_For_Several_Times:RETURN_VALUE:</key>
				<dict>
					<key>COMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>RECEIVE_DATA:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 3</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Unit</key>
					<string>Ohm</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point4</key>
		<array>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string>OK</string>
					<key>IMAGE</key>
					<string>SystemTest.png</string>
					<key>MESSAGE</key>
					<string>Please place the probes across the point 0 to point 4( 请将探针放置在测点0和测点4之间 )</string>
					<key>POINT</key>
					<string>457,147,297,40,20</string>
					<key>SELF_DEFINE</key>
					<true/>
					<key>TITLE</key>
					<string>System Test Point4</string>
				</dict>
			</dict>
			<dict>
				<key>Send_And_Receive_GPIB_Command_For_Several_Times:RETURN_VALUE:</key>
				<dict>
					<key>COMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>RECEIVE_DATA:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 4</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Unit</key>
					<string>Ohm</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Check Fatal Error</key>
		<array>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<false/>
					<key>IP_NoParametric</key>
					<true/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>AMIOK_CHECK:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Write GROUND CB</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>diags</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>diags</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>60</integer>
				</dict>
			</dict>
			<dict>
				<key>CB_SETORNOT:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>JUDGE_SPEC_CANCEL:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;OFF&gt;</string>
					</dict>
					<key>OUTOFSPEC_CANCEL</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>7</integer>
				</dict>
			</dict>
			<dict>
				<key>SAVE_NOWTIME:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>rtc --set /*NowTime*/</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>rtc --set /*NowTime*/</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>WRITE_CONTROL_BIT:RETURN_VALUE:</key>
				<dict>
					<key>RECEIVE_FOR_FAIL</key>
					<dict>
						<key>BEGIN</key>
						<string>cbwrite 0xC9 /*TEST_RESULT*/ /*SoftVersion*/</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>PASS_RECEIVE</key>
						<array>
							<string>:-)</string>
						</array>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>5</integer>
					</dict>
					<key>RECEIVE_FOR_PASS</key>
					<dict>
						<key>PASS_RECEIVE</key>
						<array>
							<string>&gt;</string>
						</array>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>8</integer>
					</dict>
					<key>RECEIVE_GETNONCE</key>
					<dict>
						<key>PASS_RECEIVE</key>
						<array>
							<string>:-)</string>
						</array>
						<key>RETURN_DATA</key>
						<true/>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>8</integer>
					</dict>
					<key>RECEIVE_PASSWORD</key>
					<dict>
						<key>INTERVAL</key>
						<string>0.25</string>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>PASS_RECEIVE</key>
						<array>
							<string>:-)</string>
						</array>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>8</integer>
					</dict>
					<key>SEND_GETNONCE</key>
					<dict>
						<key>STRING</key>
						<string>getnonce</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>SEND_PASSWORD</key>
					<dict>
						<key>NUART</key>
						<true/>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>STRING</key>
					<string>cbwrite 0xC9 /*TEST_RESULT*/ /*SoftVersion*/</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cbread 0xC9</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>cbread 0xC9</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SELF_CB_CHECK:RETURN_VALUE:</key>
				<dict>
					<key>NoSpec</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<false/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Check Battery Level After Test</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k GasGauge -g charge-percentage</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k GasGauge -g charge-percentage</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>%</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[0,101]</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>writePDCA</key>
		<array>
			<dict>
				<key>SHOW_PDCA:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_Display Grounding-module</key>
		<array>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
