<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_GPIO_BUTTON_TEST</key>
		<array>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GPIO HOLD Button Test</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>gpio</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>gpio</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>TEST_BUTTON_THREAD:RETURN_VALUE:</key>
				<dict>
					<key>BUTTON_COUNT</key>
					<array>
						<string>HoldKey</string>
					</array>
					<key>READ_COMMAND_DATA</key>
					<dict>
						<key>BEGIN</key>
						<string>gpio</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
							<string>not found</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>PASS_RECEIVE</key>
						<array>
							<string>:-)</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>20</integer>
					</dict>
					<key>SEND_COMMAND</key>
					<dict>
						<key>STRING</key>
						<string>gpio</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string> </string>
					<key>MESSAGE</key>
					<string>请按一下Hold键( Please press Hold Button! )</string>
				</dict>
			</dict>
			<dict>
				<key>CHECK_BUTTON_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<string>0</string>
					<key>STATUS_KEYS</key>
					<array>
						<string>10</string>
						<string>01</string>
					</array>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_MESSAGE_BOX:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>END_TEST_BUTTON_THREAD:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GPIO VolUp Button Test</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>gpio</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>gpio</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>TEST_BUTTON_THREAD:RETURN_VALUE:</key>
				<dict>
					<key>BUTTON_COUNT</key>
					<array>
						<string>VolUP</string>
					</array>
					<key>READ_COMMAND_DATA</key>
					<dict>
						<key>BEGIN</key>
						<string>gpio</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
							<string>not found</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>PASS_RECEIVE</key>
						<array>
							<string>:-)</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>20</integer>
					</dict>
					<key>SEND_COMMAND</key>
					<dict>
						<key>STRING</key>
						<string>gpio</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string> </string>
					<key>MESSAGE</key>
					<string>请按一下VolUP键( Please press VolUP Button! )</string>
				</dict>
			</dict>
			<dict>
				<key>CHECK_BUTTON_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<string>0</string>
					<key>STATUS_KEYS</key>
					<array>
						<string>10</string>
						<string>01</string>
					</array>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_MESSAGE_BOX:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>END_TEST_BUTTON_THREAD:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GPIO VolDn Button Test</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>gpio</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>gpio</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>TEST_BUTTON_THREAD:RETURN_VALUE:</key>
				<dict>
					<key>BUTTON_COUNT</key>
					<array>
						<string>VolDown</string>
					</array>
					<key>READ_COMMAND_DATA</key>
					<dict>
						<key>BEGIN</key>
						<string>gpio</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
							<string>not found</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>PASS_RECEIVE</key>
						<array>
							<string>:-)</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>20</integer>
					</dict>
					<key>SEND_COMMAND</key>
					<dict>
						<key>STRING</key>
						<string>gpio</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string> </string>
					<key>MESSAGE</key>
					<string>请按一下VolDown键( Please press VolDown Button! )</string>
				</dict>
			</dict>
			<dict>
				<key>CHECK_BUTTON_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<string>0</string>
					<key>STATUS_KEYS</key>
					<array>
						<string>10</string>
						<string>01</string>
					</array>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_MESSAGE_BOX:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>END_TEST_BUTTON_THREAD:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GPIO Ringer Button Test</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>gpio</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>gpio</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>TEST_BUTTON_THREAD:RETURN_VALUE:</key>
				<dict>
					<key>BUTTON_COUNT</key>
					<array>
						<string>RingerA</string>
					</array>
					<key>READ_COMMAND_DATA</key>
					<dict>
						<key>BEGIN</key>
						<string>gpio</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
							<string>not found</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>PASS_RECEIVE</key>
						<array>
							<string>:-)</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>20</integer>
					</dict>
					<key>SEND_COMMAND</key>
					<dict>
						<key>STRING</key>
						<string>gpio</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string> </string>
					<key>MESSAGE</key>
					<string>请拨一下RingerA键( Please press Ringer Button! )</string>
				</dict>
			</dict>
			<dict>
				<key>CHECK_BUTTON_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<string>1</string>
					<key>STATUS_KEYS</key>
					<array>
						<string>10</string>
						<string>01</string>
					</array>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_MESSAGE_BOX:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>END_TEST_BUTTON_THREAD:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_GPIO_BUTTON_TEST</key>
		<array>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
