<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="2.6.8">
<array>
	<dict>
		<key>START_TEST_Grounding-1_CableLoss</key>
		<array>
			<dict>
				<key>Init_Instrument:RETURN_VALUE:</key>
				<dict>
					<key>BOARDIDCOUNT</key>
					<integer>1</integer>
					<key>iInstrumentType</key>
					<integer>0</integer>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>PRIMARYADDRESS</key>
					<integer>22</integer>
				</dict>
			</dict>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Scan SN</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ISN</string>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Fixture Init-Kong</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>BYTE</key>
					<integer>0</integer>
					<key>STRING</key>
					<string>Set Velocity 999</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Set Velocity 999</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string>OK</string>
					<key>MESSAGE</key>
					<string>Please Enter the Start button.</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point1 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>BYTE</key>
					<integer>0</integer>
					<key>STRING</key>
					<string>Point A Short</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point A Short</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 1</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>BYTE</key>
					<integer>0</integer>
					<key>STRING</key>
					<string>Point A Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point A Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point2 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>BYTE</key>
					<integer>0</integer>
					<key>STRING</key>
					<string>Point B Short</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point B Short</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 2</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>BYTE</key>
					<integer>0</integer>
					<key>STRING</key>
					<string>Point B Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point B Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point3 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>BYTE</key>
					<integer>0</integer>
					<key>STRING</key>
					<string>Point C Short</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point C Short</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 3</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>BYTE</key>
					<integer>0</integer>
					<key>STRING</key>
					<string>Point C Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point C Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>System Test Point4 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>BYTE</key>
					<integer>0</integer>
					<key>STRING</key>
					<string>Point D Short</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point D Short</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 4</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>Instrument_Send_Command:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>*RST</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>BYTE</key>
					<integer>0</integer>
					<key>STRING</key>
					<string>Point D Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point D Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>BYTE</key>
					<integer>0</integer>
					<key>STRING</key>
					<string>Test Over</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Test Over</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_Grounding-1_CableLoss</key>
		<array>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
