<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_Gyro&amp;GYTT</key>
		<array>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Gyro QT Test</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>gyro --init</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>gyro --init</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
						<string>OK</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>8</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string></string>
					<key>COLUMN</key>
					<integer>0</integer>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>ROW</key>
					<integer>7</integer>
				</dict>
			</dict>
			<dict>
				<key>WAIT_MS:RETURN_VALUE:</key>
				<dict>
					<key>TIME_MS</key>
					<string>2000</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Gyro QT Test_X</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>gyro --rate 200</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>gyro --rate 200</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
						<string>OK</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>gyro --sample 100 --scale 2000 --average --temp --quiet --raw</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Format:</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
						<string>OK</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>GetGyroData:ReturnValue:</key>
				<dict/>
			</dict>
			<dict>
				<key>JudgeGyroTemperature:ReturnValue:</key>
				<dict/>
			</dict>
			<dict>
				<key>LoopItem</key>
				<dict>
					<key>LoopEnd</key>
					<string>5</string>
					<key>LoopRepeatTime</key>
					<string>3</string>
					<key>LoopStart</key>
					<string>2</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>GyroX</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Gyro QT Test_Y</key>
		<array>
			<dict>
				<key>GetGyroData_Y:ReturnValue:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Gyro QT Test_Z</key>
		<array>
			<dict>
				<key>GetGyroData_Z:ReturnValue:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Gyro QT Test_Temperature</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>gyro --off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>gyro --off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
						<string>OK</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>GetGyroData_Temperature:ReturnValue:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Gyro GYTT Temp</key>
		<array>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Gyro GYTT Test_Max Temp</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg print GYTT</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg print GYTT</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>8</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>GYTT_DATA</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MAX_TEMP:RETURN_VALUE:</key>
				<dict>
					<key>Gyro_Count</key>
					<string>5</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Gyro GYTT Test_Min Temp</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Min_Temp</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Gyro GYTT Test_Temp Count</key>
		<array>
			<dict>
				<key>GET_COUNT_OF_TEMP:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Gyro GYTT Test_Sanity</key>
		<array>
			<dict>
				<key>GET_COUNT_OF_TEMP:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[2,]</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT Zero Offset Max error</key>
		<array>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT_X_ZeroOffset Max error</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>GYTT_DATA</string>
				</dict>
			</dict>
			<dict>
				<key>Calc_Gyro_BX:ReturnValue:</key>
				<dict>
					<key>Gyro_Count</key>
					<string>5</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT_Y_ZeroOffset Max error</key>
		<array>
			<dict>
				<key>Calc_Gyro_BY:ReturnValue:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT_Z_ZeroOffset Max error</key>
		<array>
			<dict>
				<key>Calc_Gyro_BZ:ReturnValue:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT_QT Zero Offset error</key>
		<array>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT_QT_X_ZeroOffset error</key>
		<array>
			<dict>
				<key>Calc_Gyro_QX:ReturnValue:</key>
				<dict/>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[-5,5]</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT_QT_Y_ZeroOffset error</key>
		<array>
			<dict>
				<key>Calc_Gyro_QY:ReturnValue:</key>
				<dict>
					<key>Gyro_Count</key>
					<string>5</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[-5,5]</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT_QT_Z_ZeroOffset error</key>
		<array>
			<dict>
				<key>Calc_Gyro_QZ:ReturnValue:</key>
				<dict>
					<key>Gyro_Count</key>
					<string>5</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[-5,5]</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT Zero Offset Linear Fit Slope</key>
		<array>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT_X_ZeroOffset Linear Fit Slope</key>
		<array>
			<dict>
				<key>CALC_GYRO_SLOPEX:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT_Y_ZeroOffset Linear Fit Slope</key>
		<array>
			<dict>
				<key>CALC_GYRO_SLOPEY:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GYTT_Z_ZeroOffset Linear Fit Slope</key>
		<array>
			<dict>
				<key>CALC_GYRO_SLOPEZ:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_Gyro&amp;GYTT</key>
		<array>
			<dict>
				<key>SHOW_RESULT_ON_SCREEN:RETURN_VALUE:</key>
				<dict>
					<key>READ_COMMAND:RETURN_VALUE:</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>PASS_RECEIVE</key>
						<array>
							<string>:-)</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>5</integer>
					</dict>
					<key>SINGLE/MULTI</key>
					<string>SINGLE</string>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
