<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_HallEffect-Sensor</key>
		<array>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>PROXSENSOR</string>
				</dict>
			</dict>
			<dict>
				<key>NONEED_UPLOAD_PDCA:RETURN_VALUE:</key>
				<dict>
					<key>NoNeedUpload</key>
					<true/>
					<key>setSN</key>
					<string>FIXTUREICAL1</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Fixture SN</key>
		<array>
			<dict>
				<key>READ_FIXTURESN:ReturnValue:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>ISNUMBERINDEX</key>
					<integer>1</integer>
					<key>SeperateChar</key>
					<string>-</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>MOVETOZERO</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<data>gQRBRA==</data>
					<key>TARGET</key>
					<string>PROXSENSOR</string>
					<key>HEXSTRING</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>DELETE_ENTER</key>
					<true/>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>END_SYMBOL</key>
					<array>
						<string>Y</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>PROXSENSOR</string>
					<key>TIMEOUT</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>JudgeProxSensorData:return_Value:</key>
				<dict>
					<key>PROXHASSTRING</key>
					<string>0x81 0x6 0x59</string>
				</dict>
			</dict>
			<dict>
				<key>LoopItem</key>
				<dict>
					<key>LoopEnd</key>
					<string>2</string>
					<key>LoopRepeatTime</key>
					<string>3</string>
					<key>LoopStart</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>GetDistance:ReturnValue:</key>
				<dict/>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>AWAYFROMZERO</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateMoveDistance:ReturnVale:</key>
				<dict>
					<key>KEY</key>
					<string>AWAYFROMZERO</string>
					<key>INITDISTANCE</key>
					<string>0</string>
					<key>CANCELTOEND</key>
					<integer>1</integer>
					<key>CANCELDISTANCE</key>
					<string>100</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOVEDISTANCE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>FL /*MOVEDISTANCE*/</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>RemoveToPosition:Return_Value:</key>
				<dict>
					<key>FIXTURETARGET</key>
					<string>FIXTURE</string>
					<key>PROXHASSTRING</key>
					<string>0x81 0x6 0x59</string>
					<key>COMMAND</key>
					<string>FL 100</string>
					<key>PROXCOMMAND</key>
					<data>gQRBRA==</data>
					<key>PROXSENSORTARGET</key>
					<string>PROXSENSOR</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_HallEffect Sensor</key>
		<array>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>PROXSENSOR</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
