<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.8">
<array>
	<dict>
		<key>START_TEST_INTERPOSER</key>
		<array>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<false/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Scan Interposer SN</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>INTERPOSER SN</string>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Test Slot</key>
		<array>
			<dict>
				<key>UPLOAD_SLOT_TO_PDCA:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Enter Diag</key>
		<array>
			<dict>
				<key>ENTER_DIAGS:RETURN_VALUE:</key>
				<dict>
					<key>LoopForAutoReceive</key>
					<string>5</string>
					<key>LoopTimes</key>
					<integer>3</integer>
					<key>PassFlagOfDiags</key>
					<string>:-)</string>
					<key>PassFlagOfRecovery</key>
					<string>]</string>
					<key>ReciveCommandAuto</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>END_SYMBOL</key>
						<array>
							<string>:-)</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>1</integer>
					</dict>
					<key>ReciveCommandForDiags</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>END_SYMBOL</key>
						<array>
							<string>:-)</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>30</integer>
					</dict>
					<key>ReciveCommandForEnter</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>:-)</string>
							<string>]</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>1</integer>
						<key>INTERVAL</key>
						<string>0.25</string>
						<key>RepeatTimes</key>
						<integer>3</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
					<key>SendCommandDiags</key>
					<dict>
						<key>STRING</key>
						<string>diags</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>SendCommandEnter</key>
					<dict>
						<key>STRING</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Diag Version</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>charge --set 2000</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>charge --set 2000</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>ver</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>BuildEng</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>(</string>
					<key>END</key>
					<string>)</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Grape Power Off</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k Touch -e power_off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k Touch -e power_off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>accessory --powermode off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>accessory --powermode off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k DisplayController@CLCD -e power_off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string></string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Grape Power On</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k Touch -e power_on</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k Touch -e power_on</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{OK}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Grape Test Memory </key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -e test_memory</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>test-result=&quot;</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>&quot;</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{Passed}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Grape FW Critical Error Check</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k Touch -e test_critical</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k Touch -e test_critical</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array/>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>test-result=&quot;</string>
					<key>END</key>
					<string>&quot;</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{Passed}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Grape Slave Memory Test</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k Touch -e test_slave_memory</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k Touch -e test_slave_memory</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Passed</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>test-result=&quot;</string>
					<key>END</key>
					<string>&quot;</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{Passed}</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>ITCM Memory test:</string>
					<key>END</key>
					<string>DTCM Memory test:</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ITCM_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Error count:</string>
					<key>END</key>
					<string>PASS</string>
					<key>KEY</key>
					<string>ITCM_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>NumberSystemConvertion:RETURN_VALUE:</key>
				<dict>
					<key>CHANGE</key>
					<integer>16</integer>
					<key>FROM</key>
					<integer>2</integer>
					<key>TO</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[0,0]</string>
					</dict>
					<key>ISNOSpec</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>UPLOAD_PARAMETRIC:RETURN_VALUE:</key>
				<dict>
					<key>HIGHLMT</key>
					<string>0</string>
					<key>LOWLMT</key>
					<string>0</string>
					<key>NOWRITETOCSV</key>
					<integer>0</integer>
					<key>PARAMETRIC</key>
					<string>Slave_Memory_ITCM</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>DTCM Memory test:</string>
					<key>END</key>
					<string>DATA:</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>DCTM_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Error count:</string>
					<key>END</key>
					<string>PASS</string>
					<key>KEY</key>
					<string>DCTM_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>NumberSystemConvertion:RETURN_VALUE:</key>
				<dict>
					<key>CHANGE</key>
					<integer>16</integer>
					<key>FROM</key>
					<integer>2</integer>
					<key>TO</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[0,0]</string>
					</dict>
					<key>ISNOSpec</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>UPLOAD_PARAMETRIC:RETURN_VALUE:</key>
				<dict>
					<key>HIGHLMT</key>
					<string>0</string>
					<key>LOWLMT</key>
					<string>0</string>
					<key>NOWRITETOCSV</key>
					<integer>0</integer>
					<key>PARAMETRIC</key>
					<string>Slave_Memory_DTCM</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Grape Test Pattern</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k Touch -e test_pattern</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k Touch -e test_pattern</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>error</string>
						<string>not found</string>
					</array>
					<key>INTERVAL</key>
					<string>0.01</string>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array/>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>60</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Test Image:</string>
					<key>END</key>
					<string>--&gt; Limits check for</string>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>CHECKMATRIX:RETURN_VALUE:</key>
				<dict>
					<key>ColCount</key>
					<integer>25</integer>
					<key>RowCount</key>
					<integer>32</integer>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>DATA: test-result=&quot;</string>
					<key>END</key>
					<string>&quot;</string>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{Passed}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Test Pattern OnePtMin</key>
		<array>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>3</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-5</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{PASS!}</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>0</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>OnePtMinLow</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>LOW = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>OnePtMinLow</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>OnePtMinLow</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>2</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>OnePtMinHigh</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>HIGH = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>OnePtMinHigh</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>OnePtMinHigh</string>
				</dict>
			</dict>
			<dict>
				<key>COMBINESTRING:RETURN_VALUE:</key>
				<dict>
					<key>ORIGINAL_STR</key>
					<string>[/*OnePtMinLow*/,/*OnePtMinHigh*/]</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MP_TestLimit</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>TestLimit</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>1</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>OnePtMin</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>VALUE = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>OnePtMin</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Test Pattern OnePtMax</key>
		<array>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>3</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-4</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{PASS!}</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>0</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-4</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>OnePtMaxLow</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>LOW = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>OnePtMaxLow</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>OnePtMaxLow</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>2</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-4</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>OnePtMaxHigh</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>HIGH = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>OnePtMaxHigh</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>OnePtMaxHigh</string>
				</dict>
			</dict>
			<dict>
				<key>COMBINESTRING:RETURN_VALUE:</key>
				<dict>
					<key>ORIGINAL_STR</key>
					<string>[/*OnePtMaxLow*/,/*OnePtMaxHigh*/]</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MP_TestLimit</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>TestLimit</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>1</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-4</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>OnePtMax</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>VALUE = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>OnePtMax</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Test Pattern ZeroPtMin</key>
		<array>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>3</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-3</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{PASS!}</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>0</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-3</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ZeroPtMinLow</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>LOW = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>ZeroPtMinLow</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ZeroPtMinLow</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>2</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-3</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ZeroPtMinHigh</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>HIGH = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>ZeroPtMinHigh</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ZeroPtMinHigh</string>
				</dict>
			</dict>
			<dict>
				<key>COMBINESTRING:RETURN_VALUE:</key>
				<dict>
					<key>ORIGINAL_STR</key>
					<string>[/*ZeroPtMinLow*/,/*ZeroPtMinHigh*/]</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MP_TestLimit</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>TestLimit</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>1</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-3</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ZeroPtMin</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>VALUE = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>ZeroPtMin</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Test Pattern ZeroPtMax</key>
		<array>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>3</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-2</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{PASS!}</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>0</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-2</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ZeroPtMaxLow</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>LOW = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>ZeroPtMaxLow</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ZeroPtMaxLow</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>2</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-2</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ZeroPtMaxHigh</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>HIGH = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>ZeroPtMaxHigh</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ZeroPtMaxHigh</string>
				</dict>
			</dict>
			<dict>
				<key>COMBINESTRING:RETURN_VALUE:</key>
				<dict>
					<key>ORIGINAL_STR</key>
					<string>[/*ZeroPtMaxLow*/,/*ZeroPtMaxHigh*/]</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MP_TestLimit</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>TestLimit</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>character</key>
					<string>, </string>
					<key>COLUMN</key>
					<integer>1</integer>
					<key>KEY</key>
					<string>GRAPE_PATTERN</string>
					<key>ROW</key>
					<integer>-2</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ZeroPtMax</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>VALUE = </string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>ZeroPtMax</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Grape Power Off</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k Touch -e power_off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k Touch -e power_off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Check Fatal Error</key>
		<array>
			<dict>
				<key>AMIOK_CHECK:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<false/>
					<key>IP_NoParametric</key>
					<true/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>writePDCA</key>
		<array>
			<dict>
				<key>SHOW_PDCA:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_INTERPOSER</key>
		<array>
			<dict>
				<key>YOUNG_BROTHER_NOTIFY_ELDER_BROTHER:RETURNVALUE:</key>
				<dict>
					<key>1.READ_COMMAND:RETURN_VALUE:</key>
					<dict>
						<key>BEGIN</key>
						<string>up out on</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>Error</string>
							<string>ERR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>NOUARTLOG</key>
						<true/>
						<key>PASS_RECEIVE</key>
						<array>
							<string>OK</string>
						</array>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>50</integer>
					</dict>
					<key>1.SEND_COMMAND:</key>
					<dict>
						<key>NOUARTLOG</key>
						<true/>
						<key>STRING</key>
						<string>up out on</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>2.READ_COMMAND:RETURN_VALUE:</key>
					<dict>
						<key>BEGIN</key>
						<string>up/down/back/advance=</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>Error</string>
							<string>ERR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>NOUARTLOG</key>
						<true/>
						<key>PASS_RECEIVE</key>
						<array/>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>20</integer>
					</dict>
					<key>2.SEND_COMMAND:</key>
					<dict>
						<key>NOUARTLOG</key>
						<true/>
						<key>STRING</key>
						<string>read sensor</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>3.JUDGE_SPEC_CANCEL:RETURN_VALUE:</key>
					<dict>
						<key>COMMON_SPEC</key>
						<dict>
							<key>P_LimitBlack</key>
							<string>&lt;0101&gt;</string>
						</dict>
						<key>ISNOSpec</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
