<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_GyroSanity</key>
		<array>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHECK_SECURITY_LIVE:RETURN_VALUE:</key>
				<dict>
					<key>EnterCycleTime</key>
					<integer>5</integer>
					<key>0.SEND_ENTER</key>
					<dict>
						<key>STRING</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>1.READ_ENTER</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>login:</string>
							<string>iPad:~ root#</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>30</integer>
					</dict>
					<key>2.SEND_USER</key>
					<dict>
						<key>STRING</key>
						<string>root</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>3.READ_USER</key>
					<dict>
						<key>BEGIN</key>
						<string>root</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>Password</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>5</integer>
					</dict>
					<key>4.SEND_PASSWORD</key>
					<dict>
						<key>STRING</key>
						<string>alpine</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>5.READ_PASSWORD</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>iPad:~ root#</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>5</integer>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SN</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>memdump -r -a syscfg -k SrNm</string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>BYTE</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>SrNm:       </string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>iPad:~ root#</string>
					<key>END_SYMBOL</key>
					<array>
						<string>iPad:~ root#</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>60</integer>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Check GyroSanity</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>/usr/local/bin/GyroSanity -offsetThreshold 1.2</string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>BYTE</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>/usr/local/bin/GyroSanity -offsetThreshold 1.2</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>iPad:~ root#</string>
					<key>END_SYMBOL</key>
					<array>
						<string>iPad:~ root#</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>60</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>GyroSanity check </string>
					<key>END</key>
					<string>with gytt</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{passed}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_GyroSanity</key>
		<array>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
