<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_IQC-SIM-Tray</key>
		<array>
			<dict>
				<key>Init_Instrument:RETURN_VALUE:</key>
				<dict>
					<key>BOARDIDCOUNT</key>
					<integer>1</integer>
					<key>iInstrumentType</key>
					<integer>0</integer>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>PRIMARYADDRESS</key>
					<integer>22</integer>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Scan SN</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>HOUSING SN</string>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Read SIM Tray resistance</key>
		<array>
			<dict>
				<key>Instrument_Send_Command:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>CONF:RES AUTO;:SAMP:COUN 10;:CALC:FUNC AVER;STAT ON</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
				</dict>
			</dict>
			<dict>
				<key>Instrument_Send_Command:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>READ?</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
				</dict>
			</dict>
			<dict>
				<key>Instrument_Receive_Command:RETURN_VALUE:</key>
				<dict>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
				</dict>
			</dict>
			<dict>
				<key>Instrument_Send_Command:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>CALC:AVER:AVER?</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
				</dict>
			</dict>
			<dict>
				<key>Instrument_Receive_Command:RETURN_VALUE:</key>
				<dict>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
				</dict>
			</dict>
			<dict>
				<key>MultiplyBy:RETURN_VALUE:</key>
				<dict>
					<key>TIMES</key>
					<string>1000</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>3</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>Instrument_Send_Command:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>CALC:STAT OFF</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[,70]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Unit</key>
					<string>mOhm</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>writePDCA</key>
		<array>
			<dict>
				<key>SHOW_PDCA:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_IQC-SIM-Tray</key>
		<array>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
