<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="3.0.15">
<array>
	<dict>
		<key>START_TEST_MAGNET-SPINECalibration</key>
		<array>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>NONEED_UPLOAD_PDCA:RETURN_VALUE:</key>
				<dict>
					<key>NoNeedUpload</key>
					<true/>
					<key>setSN</key>
					<string>CALIBRATIONM</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string>OK</string>
					<key>MESSAGE</key>
					<string>Make Sure there is no DUT in Fixture！ (确保治具上没有机台！)</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage1-1</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage1-1</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V13</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V13_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage1-1 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage1-1</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage1-1 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage1-2</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage1-2</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V12</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V12_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage1-2 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage1-2</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage1-2 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage2-1</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage2-1</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V11</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V11_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage2-1 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage2-1</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage2-1 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage2-2</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage2-2</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V10</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V10_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage2-2 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage2-2</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage2-2 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage3-1</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage3-1</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V9</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V9_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage3-1 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage3-1</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage3-1 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage3-2</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage3-2</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V8</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V8_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage3-2 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage3-2</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage3-2 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage4-1</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage4-1</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V7</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V7_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage4-1 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage4-1</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage4-1 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage4-2</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage4-2</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V6</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V6_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage4-2 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage4-2</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage4-2 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage5-1</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage5-1</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V5</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V5_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage5-1 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage5-1</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage5-1 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage5-2</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage5-2</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V4</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V4_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage5-2 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage5-2</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage5-2 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage6-1</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage6-1</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V3</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V3_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage6-1 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage6-1</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage6-1 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage6-2</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage6-2</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V2</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V2_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage6-2 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage6-2</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage6-2 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage7-1</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage7-1</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V1</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V1_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage7-1 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage7-1</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage7-1 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Ave Voltage7-2</key>
		<array>
			<dict>
				<key>Calculate_AverageVoltage:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<string>50</string>
					<key>MemForCalculate</key>
					<string>Voltage7-2</string>
					<key>SendCommand</key>
					<dict>
						<key>STRING</key>
						<string>INQUIRE_V0</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>ReceiveCommand</key>
					<dict>
						<key>BEGIN</key>
						<string>V0_</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[1450,1550]</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage7-2 Ave</string>
				</dict>
			</dict>
			<dict>
				<key>CalculateSTD:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage7-2</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Spine Voltage7-2 STD</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_MAGNET-SPINECalibration</key>
		<array>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
