<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="4.1.9">
<array>
	<dict>
		<key>START_TEST_HomeButtonGrape</key>
		<array>
			<dict>
				<key>SEND_VOL_TO_UI:RETURN_VALUE:</key>
				<dict>
					<key>reset</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>CHECK_FIXTURE_ALIVE:RETURN_VALUE:</key>
				<dict>
					<key>READ</key>
					<dict>
						<key>BEGIN</key>
						<string>Hall Sensor1 Power Off</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>*_*</string>
						<key>END_SYMBOL</key>
						<array>
							<string>*_*</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>5</integer>
					</dict>
					<key>SEND</key>
					<dict>
						<key>STRING</key>
						<string>Hall Sensor1 Power Off</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Scan SUB SN</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>SUB SN</string>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Fixture Init</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Hall Sensor1 Power Off</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Hall Sensor1 Power Off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Hall Sensor2 Power Off</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Hall Sensor2 Power Off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Control Board Ver</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Control Board Ver</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParimatric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Enter Diag</key>
		<array>
			<dict>
				<key>ENTER_DIAGS:RETURN_VALUE:</key>
				<dict>
					<key>LoopForAutoReceive</key>
					<string>5</string>
					<key>LoopTimes</key>
					<integer>3</integer>
					<key>PassFlagOfDiags</key>
					<string>:-)</string>
					<key>PassFlagOfRecovery</key>
					<string>]</string>
					<key>ReciveCommandAuto</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>END_SYMBOL</key>
						<array>
							<string>] :-)</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<string>1</string>
					</dict>
					<key>ReciveCommandForDiags</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>END_SYMBOL</key>
						<array>
							<string>] :-)</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>30</integer>
					</dict>
					<key>ReciveCommandForEnter</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>:-)</string>
							<string>]</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>INTERVAL</key>
						<string>0.25</string>
						<key>MATCHTYPE</key>
						<integer>1</integer>
						<key>RepeatTimes</key>
						<integer>3</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
					<key>SendCommandDiags</key>
					<dict>
						<key>STRING</key>
						<string>diags</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>SendCommandEnter</key>
					<dict>
						<key>STRING</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParimatric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Diag Version</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k GasGauge -p</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k GasGauge -p</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>voltage: &quot;</string>
					<key>END</key>
					<string>&quot;</string>
					<key>KEY</key>
					<string>READ_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Voltage</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>charge-percentage: &quot;</string>
					<key>END</key>
					<string>&quot;</string>
					<key>KEY</key>
					<string>READ_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Percent</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_VOL_TO_UI:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>ver</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>BuildEng</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>(</string>
					<key>END</key>
					<string>)</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>DIAGS_VERSION</string>
				</dict>
			</dict>
			<dict>
				<key>UPLOADATTRI:RETURN_VALUE:</key>
				<dict>
					<key>ATTRIBUTE</key>
					<array>
						<string>DIAGS_VERSION</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Get SFC Info</key>
		<array>
			<dict>
				<key>QUERY_SFIS:RETURN_VALUE:</key>
				<dict>
					<key>QueryItems</key>
					<dict>
						<key>subassembly_1</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>subassembly_1</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>DRAGONFLY_SN</string>
				</dict>
			</dict>
			<dict>
				<key>UPLOADATTRI:RETURN_VALUE:</key>
				<dict>
					<key>ATTRIBUTE</key>
					<array>
						<string>DRAGONFLY_SN</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParimatric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Grape Power Off</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k Touch -e power_off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k Touch -e power_off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>accessory --powermode off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>accessory --powermode off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k DisplayController@CLCD -e power_off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k DisplayController@CLCD -e power_off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Grape Power On</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k Touch -e power_on</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k Touch -e power_on</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{OK}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Grape Digital Open Test Panel</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Device -k Touch -e test_critical</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>test-result=&quot;</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>&quot;</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>Failed</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;Passed&gt;</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>device -k Touch -e power_off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>device -k Touch -e power_off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Home Button Test</key>
		<array>
			<dict>
				<key>TEST_BUTTON_THREAD:RETURN_VALUE:</key>
				<dict>
					<key>BUTTON_COUNT</key>
					<array>
						<string>MenuKey</string>
					</array>
					<key>READ_COMMAND_DATA</key>
					<dict>
						<key>BEGIN</key>
						<string>gpio</string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>END_SYMBOL</key>
						<array>
							<string>:-)</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
							<string>not found</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>20</integer>
					</dict>
					<key>SEND_COMMAND</key>
					<dict>
						<key>STRING</key>
						<string>gpio</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string> </string>
					<key>MESSAGE</key>
					<string>请按一下HomeButton键( Please press HomeButton! )</string>
				</dict>
			</dict>
			<dict>
				<key>CHECK_BUTTON_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CHECKALL</key>
					<true/>
					<key>MATCHTYPE</key>
					<string>0</string>
					<key>STATUS_KEYS</key>
					<array>
						<string>10</string>
						<string>01</string>
					</array>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_MESSAGE_BOX:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>END_TEST_BUTTON_THREAD:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;PASS&gt;</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Hall Sensor Miss Test_IRQ0</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>hallsensor --meas 1 --delay 500 --irq 0</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>0: </string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string> intr</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;missed&gt;</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Hall Sensor Miss Test_IRQ1</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>hallsensor --meas 1 --delay 500 --irq 1</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>0: </string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string> intr</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;missed&gt;</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Hall Sensor S Detect Test_IRQ0 </key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Hall Sensor1 S</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Hall Sensor1 S</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Hall Sensor2 S</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Hall Sensor2 S</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Hall Sensor1 Power On</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Hall Sensor1 Power On</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Hall Sensor2 Power On</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Hall Sensor2 Power On</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>hallsensor --meas 1 --delay 5000 --irq 0</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>0: </string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string> intr</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;detect&gt;</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Hall Sensor S Detect Test_IRQ1</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>hallsensor --meas 1 --delay 5000 --irq 1</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>0: </string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string> intr</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;detect&gt;</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Hall Sensor N Detect Test_IRQ0 </key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Hall Sensor1 N</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Hall Sensor1 N</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Hall Sensor2 N</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Hall Sensor2 N</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>hallsensor --meas 1 --delay 5000 --irq 0</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>0: </string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string> intr</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;detect&gt;</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Hall Sensor N Miss Test_IRQ1 </key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>hallsensor --meas 1 --delay 500 --irq 1</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>0: </string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string> intr</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;missed&gt;</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Check Fatal Error</key>
		<array>
			<dict>
				<key>AMIOK_CHECK:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<false/>
					<key>IP_NoParametric</key>
					<true/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>writePDCA</key>
		<array>
			<dict>
				<key>SHOW_PDCA:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_HomeButtonGrape</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Hall Sensor1 Power Off</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Hall Sensor1 Power Off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Hall Sensor2 Power Off</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Hall Sensor2 Power Off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
