<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_DEVELOPMENT17</key>
		<array>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Enter Diag</key>
		<array>
			<dict>
				<key>CHECK_UNIT_LIVE:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<integer>5</integer>
					<key>ReciveCommandForBoot</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>Password:</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>3</integer>
					</dict>
					<key>ReciveCommandForDiags</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>] :-)</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>RepeatTimes</key>
						<integer>3</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>18</integer>
					</dict>
					<key>ReciveCommandForEnter</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>:-)</string>
							<string>]</string>
							<string>login:</string>
							<string>iPad:~ root#</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>1</integer>
						<key>RepeatTimes</key>
						<integer>3</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>3</integer>
					</dict>
					<key>ReciveCommandForLogIn</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>iPad:~ root#</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>3</integer>
					</dict>
					<key>ReciveCommandForReboot</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>END_SYMBOL</key>
						<array>
							<string>] :-)</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>30</integer>
					</dict>
					<key>SendCommandDiags</key>
					<dict>
						<key>STRING</key>
						<string>diags</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>SendCommandEnter</key>
					<dict>
						<key>STRING</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{:-)}</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SN</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>sn</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Serial:</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Diag Version</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>ver</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>BuildEng</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>(</string>
					<key>END</key>
					<string>)</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>DIAG_VER</string>
				</dict>
			</dict>
			<dict>
				<key>UPLOADATTRI:RETURN_VALUE:</key>
				<dict>
					<key>ATTRIBUTE</key>
					<array>
						<string>DIAG_VER</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Get Board ID</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>boardid</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Board Id: </string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>boardid</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{0x08,0x0A}</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Get SFC Info</key>
		<array>
			<dict>
				<key>QUERY_SFIS:RETURN_VALUE:</key>
				<dict>
					<key>QueryItems</key>
					<dict>
						<key>clrc</key>
						<string></string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Write DClr</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg print DClr</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg print DClr</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg add DClr /*clrc*/</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg add DClr</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>!</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg print DClr</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg print DClr</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Write PDCA</key>
		<array>
			<dict>
				<key>SHOW_PDCA:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_DEVELOPMENT17</key>
		<array>
			<dict>
				<key>CLEAR_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TimeOut</key>
					<string>30</string>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Cycle Time</key>
		<array>
			<dict>
				<key>COST_TIME:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
</array>
</plist>
