<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_CLEAR_CB-FATP</key>
		<array>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Priority</key>
					<integer>0</integer>
					<key>CancelToEnd</key>
					<false/>
					<key>IP_NoParametric</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Scan FG SN</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ISN</string>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Enter Diag</key>
		<array>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Priority</key>
					<integer>0</integer>
					<key>CancelToEnd</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CHECK_UNIT_LIVE:RETURN_VALUE:</key>
				<dict>
					<key>SendCommandEnter</key>
					<dict>
						<key>STRING</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>LoopTimes</key>
					<integer>5</integer>
					<key>SendCommandDiags</key>
					<dict>
						<key>STRING</key>
						<string>diags</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>ReciveCommandForDiags</key>
					<dict>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>BEGIN</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>RepeatTimes</key>
						<integer>3</integer>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END_SYMBOL</key>
						<array>
							<string>] :-)</string>
						</array>
						<key>TIMEOUT</key>
						<integer>18</integer>
						<key>END</key>
						<string></string>
					</dict>
					<key>ReciveCommandForReboot</key>
					<dict>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>BEGIN</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END_SYMBOL</key>
						<array>
							<string>] :-)</string>
						</array>
						<key>TIMEOUT</key>
						<integer>30</integer>
						<key>END</key>
						<string>:-)</string>
					</dict>
					<key>ReciveCommandForBoot</key>
					<dict>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>BEGIN</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END_SYMBOL</key>
						<array>
							<string>Password:</string>
						</array>
						<key>TIMEOUT</key>
						<integer>3</integer>
						<key>END</key>
						<string></string>
					</dict>
					<key>ReciveCommandForEnter</key>
					<dict>
						<key>MATCHTYPE</key>
						<integer>1</integer>
						<key>BEGIN</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>RepeatTimes</key>
						<integer>3</integer>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END_SYMBOL</key>
						<array>
							<string>:-)</string>
							<string>]</string>
							<string>login:</string>
							<string>iPad:~ root#</string>
						</array>
						<key>TIMEOUT</key>
						<integer>3</integer>
						<key>END</key>
						<string></string>
					</dict>
					<key>ReciveCommandForLogIn</key>
					<dict>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>BEGIN</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END_SYMBOL</key>
						<array>
							<string>iPad:~ root#</string>
						</array>
						<key>TIMEOUT</key>
						<integer>3</integer>
						<key>END</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string></string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>] </string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{:-)}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Get Board ID</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>boardid</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>Board Id: </string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>BOARDID</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{0x08,0x0A}</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Priority</key>
					<integer>0</integer>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Diag Version</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>ver</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>BuildEng</string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>10</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>0</string>
					<key>BEGIN</key>
					<string>(</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LOCATION</key>
					<string>0</string>
					<key>END</key>
					<string>)</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>DIAG_VER</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Compare FG SN</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cbreadall</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string>cbreadall</string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>30</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>sn</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>sn</string>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FG_SN</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC_CANCEL:RETURN_VALUE:</key>
				<dict>
					<key>OUTOFSPEC_CANCEL</key>
					<false/>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{Not Found}</string>
					</dict>
					<key>ISNOSpec</key>
					<true/>
					<key>NoChangeResult</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>0</string>
					<key>BEGIN</key>
					<string>Serial: </string>
					<key>KEY</key>
					<string>FG_SN</string>
					<key>LOCATION</key>
					<string>0</string>
					<key>END</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>COMPARE:RETURN_VALUE:</key>
				<dict>
					<key>Comparison1</key>
					<dict>
						<key>SCan from UI</key>
						<string>/*ISN*/</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Priority</key>
					<integer>0</integer>
					<key>CancelToEnd</key>
					<true/>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Check Mesa Provisioned</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>touch --off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>touch --off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string></string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>touch --sel mesa</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>touch --sel mesa</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string></string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>touch --on</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>touch --on</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string></string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>touch --load_firmware</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>touch --load_firmware</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string></string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>touch -p</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>touch -p</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string></string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>is-provisioned:</string>
					<key>END</key>
					<string>sensor-status:</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;no&gt;</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>touch --off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>touch --off</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string></string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>QT0 CB Check</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cbread 0x7A</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>cbread 0x7A</string>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>not found</string>
						<string>error</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>QT0</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>COLUMN</key>
					<integer>1</integer>
					<key>ROW</key>
					<integer>0</integer>
					<key>character</key>
					<string> </string>
					<key>KEY</key>
					<string>QT0</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>QT0b CB Check</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cbread 0x79</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>cbread 0x79</string>
					<key>PASS_RECEIVE</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>not found</string>
						<string>error</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>QT0b</string>
				</dict>
			</dict>
			<dict>
				<key>CatchValuebyRowAndColumn:RETURN_VALUE:</key>
				<dict>
					<key>COLUMN</key>
					<integer>1</integer>
					<key>ROW</key>
					<integer>0</integer>
					<key>character</key>
					<string> </string>
					<key>KEY</key>
					<string>QT0b</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Clear FATP CB</key>
		<array>
			<dict>
				<key>SAVE_NOWTIME:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>rtc --set /*NowTime*/</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>rtc --set /*NowTime*/</string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
						<string>ERROR</string>
						<string>NOT FOUND</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Unit_NowTime</string>
				</dict>
			</dict>
			<dict>
				<key>COMPARE:RETURN_VALUE:</key>
				<dict>
					<key>Comparison1</key>
					<dict>
						<key>Preburn</key>
						<string>/*NowTime*/</string>
						<key>Burn</key>
						<string>/*Unit_NowTime*/</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_CANCLE_FLAG:RETURN_VALUE:</key>
				<dict>
					<key>FailCancle</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>58</integer>
				</dict>
			</dict>
			<dict>
				<key>QUERY_SFIS:RETURN_VALUE:</key>
				<dict>
					<key>QueryItems</key>
					<dict>
						<key>nstep_cb_info</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>nstep_cb_info</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC_CANCEL:RETURN_VALUE:</key>
				<dict>
					<key>OUTOFSPEC_CANCEL</key>
					<false/>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;input1,input13,QT0,SWDL,ISD&gt;</string>
					</dict>
					<key>ISNOSpec</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>3</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;input1,input13,QT0,SWDL,ISD&gt;</string>
					</dict>
					<key>ISNOSpec</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>Error decode; Please decode the unit to the correct station(input1;input13;QT0;SWDL;ISD).</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>nstep_cb_info</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC_CANCEL:RETURN_VALUE:</key>
				<dict>
					<key>OUTOFSPEC_CANCEL</key>
					<true/>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;input1,input13,QT0,SWDL,ISD&gt;</string>
					</dict>
					<key>ISNOSpec</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<string>46</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg delete WpCl</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string></string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg print WpCl</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string>syscfg print WpCl</string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
						<string>ERROR</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Not Found</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg delete BLCl</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string></string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg print BLCl</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string>syscfg print BLCl</string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
						<string>ERROR</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Not Found</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>nstep_cb_info</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC_CANCEL:RETURN_VALUE:</key>
				<dict>
					<key>OUTOFSPEC_CANCEL</key>
					<true/>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;input1,input13&gt;</string>
					</dict>
					<key>ISNOSpec</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>6</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cberase 0x78</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>cberase 0x78</string>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
						<string>NOT FOUND</string>
						<string>ERROR</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cberase 0x7C</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>cberase 0x7C</string>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
						<string>NOT FOUND</string>
						<string>ERROR</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cberase 0x7B</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>cberase 0x7B</string>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
						<string>NOT FOUND</string>
						<string>ERROR</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>nstep_cb_info</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC_CANCEL:RETURN_VALUE:</key>
				<dict>
					<key>OUTOFSPEC_CANCEL</key>
					<true/>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;input1,input13,QT0&gt;</string>
					</dict>
					<key>ISNOSpec</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cberase 0x79</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>cberase 0x79</string>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
						<string>NOT FOUND</string>
						<string>ERROR</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cberase 0x7A</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>cberase 0x7A</string>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
						<string>NOT FOUND</string>
						<string>ERROR</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cberase fatp</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>BEGIN</key>
					<string>cberase fatp</string>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
						<string>NOT FOUND</string>
						<string>ERROR</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>OK</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg delete MdlC</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string></string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg print MdlC</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string>syscfg print MdlC</string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>FAIL</string>
						<string>ERROR</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>Not Found</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>nstep_cb_info</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC_CANCEL:RETURN_VALUE:</key>
				<dict>
					<key>OUTOFSPEC_CANCEL</key>
					<true/>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;SWDL&gt;</string>
					</dict>
					<key>ISNOSpec</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<string>1</string>
				</dict>
			</dict>
			<dict>
				<key>ClearCB:RETURN_VALUE:</key>
				<dict>
					<key>0x08</key>
					<dict>
						<key>Bonfire</key>
						<string>0xB3</string>
						<key>Wildfire</key>
						<string>0xB4</string>
						<key>Burn In</key>
						<string>0xB5</string>
						<key>Log Collection</key>
						<string>0xB7</string>
						<key>MagRet Map</key>
						<string>0x9E</string>
						<key>ALS-CAL</key>
						<string>0x99</string>
						<key>ALS-TEST</key>
						<string>0x9A</string>
						<key>ALSAR</key>
						<string>0x98</string>
						<key>HALL-EFFECT</key>
						<string>0x9B</string>
						<key>FACT21</key>
						<string>0xA3</string>
						<key>QT1</key>
						<string>0x82</string>
						<key>Grape Cal Post</key>
						<string>0x8D</string>
						<key>Grape Test Post</key>
						<string>0x8E</string>
						<key>Button Test</key>
						<string>0xDB</string>
						<key>Display Postburn</key>
						<string>0xB0</string>
						<key>Camera Postburn</key>
						<string>0xAB</string>
						<key>RGBW</key>
						<string>0xA6</string>
						<key>WIFI-BT-OTA</key>
						<string>0xC1</string>
						<key>MMI</key>
						<string>0xB6</string>
					</dict>
					<key>SEND_COMMAND:</key>
					<dict>
						<key>STRING</key>
						<string>cberase /*EraseStationID*/</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>READ_COMMAND:RETURN_VALUE:</key>
					<dict>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>BEGIN</key>
						<string>cberase /*EraseStationID*/</string>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END_SYMBOL</key>
						<array>
							<string>:-)</string>
						</array>
						<key>TIMEOUT</key>
						<integer>30</integer>
						<key>END</key>
						<string>:-)</string>
					</dict>
					<key>0x0A</key>
					<dict>
						<key>Bonfire</key>
						<string>0xB3</string>
						<key>Wildfire</key>
						<string>0xB4</string>
						<key>Burn In</key>
						<string>0xB5</string>
						<key>Log Collection</key>
						<string>0xB7</string>
						<key>MagRet Map</key>
						<string>0x9E</string>
						<key>ALS-CAL</key>
						<string>0x99</string>
						<key>ALS-TEST</key>
						<string>0x9A</string>
						<key>ALSAR</key>
						<string>0x98</string>
						<key>HALL-EFFECT</key>
						<string>0x9B</string>
						<key>FACT21</key>
						<string>0xA3</string>
						<key>QT1</key>
						<string>0x82</string>
						<key>Grape Cal Post</key>
						<string>0x8D</string>
						<key>Grape Test Post</key>
						<string>0x8E</string>
						<key>Button Test</key>
						<string>0xDB</string>
						<key>Display Postburn</key>
						<string>0xB0</string>
						<key>RGBW</key>
						<string>0xA6</string>
						<key>Camera Postburn</key>
						<string>0xAB</string>
						<key>WIFI-BT-OTA</key>
						<string>0xC1</string>
						<key>REDSIG-CELL-OTA</key>
						<string>0xBF</string>
						<key>MMI</key>
						<string>0xB6</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>nstep_cb_info</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC_CANCEL:RETURN_VALUE:</key>
				<dict>
					<key>OUTOFSPEC_CANCEL</key>
					<true/>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>&lt;ISD&gt;</string>
					</dict>
					<key>ISNOSpec</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<string>9</string>
				</dict>
			</dict>
			<dict>
				<key>ClearCB:RETURN_VALUE:</key>
				<dict>
					<key>0x08</key>
					<dict>
						<key>Display Postburn</key>
						<string>0xB0</string>
						<key>RGBW</key>
						<string>0xA6</string>
						<key>Camera Postburn</key>
						<string>0xAB</string>
						<key>WIFI-BT-OTA</key>
						<string>0xC1</string>
						<key>MMI</key>
						<string>0xB6</string>
					</dict>
					<key>SEND_COMMAND:</key>
					<dict>
						<key>STRING</key>
						<string>cberase /*EraseStationID*/</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>READ_COMMAND:RETURN_VALUE:</key>
					<dict>
						<key>REPEAT</key>
						<integer>1</integer>
						<key>BEGIN</key>
						<string>cberase /*EraseStationID*/</string>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END_SYMBOL</key>
						<array>
							<string>:-)</string>
						</array>
						<key>TIMEOUT</key>
						<integer>30</integer>
						<key>END</key>
						<string>:-)</string>
					</dict>
					<key>0x0A</key>
					<dict>
						<key>Display Postburn</key>
						<string>0xB0</string>
						<key>RGBW</key>
						<string>0xA6</string>
						<key>REDSIG-CELL-OTA</key>
						<string>0xBF</string>
						<key>Camera Postburn</key>
						<string>0xAB</string>
						<key>WIFI-BT-OTA</key>
						<string>0xC1</string>
						<key>MMI</key>
						<string>0xB6</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>nvram --get boot-args</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string>nvram --get boot-args</string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>nvram --set boot-args debug=0x14e serial=3 amfi_allow_any_signature=1 cs_enforcement_disable=1 amfi_unrestrict_task_for_pid=1 newLcdMura=RGBW</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string></string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>nvram --save</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string></string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>nvram -l</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string>nvram -l</string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>END</key>
					<string>:-)</string>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>5</integer>
					<key>PASS_RECEIVE</key>
					<array>
						<string>debug=0x14e serial=3 amfi_allow_any_signature=1 cs_enforcement_disable=1 amfi_unrestrict_task_for_pid=1 newLcdMura=RGBW</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cbreadall</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>BEGIN</key>
					<string>cbreadall</string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>NOT FOUND</string>
						<string>ERROR</string>
					</array>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>TIMEOUT</key>
					<integer>30</integer>
					<key>END</key>
					<string>:-)</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Priority</key>
					<integer>0</integer>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NetWork CB: Check Fatal Error</key>
		<array>
			<dict>
				<key>AMIOK_CHECK:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>IP_Priority</key>
					<integer>0</integer>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<true/>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Unit Shutdown</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>sleep -h</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Check Unit Shut Down</key>
		<array>
			<dict>
				<key>CheckDisConnect:RETURN_VALUE:</key>
				<dict>
					<key>MATCHTYPE</key>
					<integer>1</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>STRING</key>
					<string></string>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>UTIMEDELAY</key>
					<integer>200000</integer>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END_SYMBOL</key>
					<array>
						<string>a</string>
						<string>e</string>
						<string>i</string>
						<string>o</string>
						<string>u</string>
						<string>A</string>
						<string>E</string>
						<string>I</string>
						<string>O</string>
						<string>U</string>
						<string>:-)</string>
						<string>]</string>
					</array>
					<key>LOOPTIMES</key>
					<integer>10</integer>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Write PDCA</key>
		<array>
			<dict>
				<key>SHOW_PDCA:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_CLEAR_CB-FATP</key>
		<array>
			<dict>
				<key>CLEAR_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TimeOut</key>
					<string>30</string>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Cycle Time</key>
		<array>
			<dict>
				<key>COST_TIME:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
</array>
</plist>
