<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_HallEffect-Sensor</key>
		<array>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>PROXSENSOR</string>
				</dict>
			</dict>
			<dict>
				<key>NONEED_UPLOAD_PDCA:RETURN_VALUE:</key>
				<dict>
					<key>NoNeedUpload</key>
					<true/>
					<key>setSN</key>
					<string>FIXTUREINIT1</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Fixture Init</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>PR4</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>%</string>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>AC100</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>DELETE_ENTER</key>
					<true/>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>DE100</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>DELETE_ENTER</key>
					<true/>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>AM2000</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>DELETE_ENTER</key>
					<true/>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>VE15</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>DELETE_ENTER</key>
					<true/>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>AR</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>DELETE_ENTER</key>
					<true/>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>ME</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>DELETE_ENTER</key>
					<true/>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>MOVE_TOP:RETURN_VALUE:</key>
				<dict>
					<key>1.SEND_COMMAND:</key>
					<dict>
						<key>STRING</key>
						<string>FL 1000</string>
						<key>TARGET</key>
						<string>FIXTURE</string>
					</dict>
					<key>2.READ_COMMAND:RETURN_VALUE:</key>
					<dict>
						<key>DELETE_ENTER</key>
						<true/>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
							<string>not found</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>%</string>
						</array>
						<key>TARGET</key>
						<string>FIXTURE</string>
						<key>TIMEOUT</key>
						<integer>10</integer>
					</dict>
					<key>3.CheckMotorStatus:ReturnValue:</key>
					<dict>
						<key>ExpectReceive</key>
						<string>RS=R</string>
						<key>READ_COMMAND</key>
						<dict>
							<key>DELETE_ENTER</key>
							<true/>
							<key>FAIL_RECEIVE</key>
							<array>
								<string>ERROR</string>
							</array>
							<key>MATCHTYPE</key>
							<integer>0</integer>
							<key>END_SYMBOL</key>
							<array>
								<string>RS=</string>
							</array>
							<key>TARGET</key>
							<string>FIXTURE</string>
							<key>TIMEOUT</key>
							<integer>5</integer>
						</dict>
						<key>RepeatTime</key>
						<string>10</string>
						<key>SEND_COMMAND</key>
						<dict>
							<key>STRING</key>
							<string>RS</string>
							<key>TARGET</key>
							<string>FIXTURE</string>
						</dict>
					</dict>
					<key>4.SEND_COMMAND:</key>
					<dict>
						<key>HEXSTRING</key>
						<integer>1</integer>
						<key>STRING</key>
						<data>gQRBRA==</data>
						<key>TARGET</key>
						<string>PROXSENSOR</string>
					</dict>
					<key>5.READ_COMMAND:RETURN_VALUE:</key>
					<dict>
						<key>DELETE_ENTER</key>
						<true/>
						<key>FAIL_RECEIVE</key>
						<array>
							<string>ERROR</string>
							<string>not found</string>
						</array>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>END_SYMBOL</key>
						<array>
							<string>Y</string>
						</array>
						<key>TARGET</key>
						<string>PROXSENSOR</string>
						<key>TIMEOUT</key>
						<integer>1</integer>
					</dict>
					<key>6.GetDistance:ReturnValue:</key>
					<dict>
						<key>PROXHASSTRING</key>
						<string>0x81 0x6 0x59</string>
						<key>Init</key>
						<true/>
					</dict>
					<key>TIME_OUT</key>
					<integer>120</integer>
					<key>ABS_SPEC</key>
					<string>0.2</string>
				</dict>
			</dict>
			<dict>
				<key>WriteToPlist:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>InitDistance</string>
					<key>FileName</key>
					<string>HESCalibration</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_HallEffect Sensor</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>FL -30000</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END_SYMBOL</key>
					<array>
						<string>%</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>not found</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>PROXSENSOR</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Cycle Time</key>
		<array>
			<dict>
				<key>COST_TIME:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
</array>
</plist>
