<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_InitInstrument</key>
		<array>
			<dict>
				<key>NONEED_UPLOAD_PDCA:RETURN_VALUE:</key>
				<dict>
					<key>NoNeedUpload</key>
					<true/>
					<key>setSN</key>
					<string>InitializeInstrument</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Read Instrument SN</key>
		<array>
			<dict>
				<key>READCAS140_SERIALNUMBER:RETURNVALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Initialize Instrument</key>
		<array>
			<dict>
				<key>INITCAS140:RETURNVALUE:</key>
				<dict>
					<key>InstrutmentSerialNumber</key>
					<string>2442142T1</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Initialize Camera</key>
		<array>
			<dict>
				<key>INITCAMERA:RETURNVALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Dark Current Measurement</key>
		<array>
			<dict>
				<key>WAIT_MS:RETURN_VALUE:</key>
				<dict>
					<key>TIME</key>
					<string>5000</string>
				</dict>
			</dict>
			<dict>
				<key>DO_DARKCURRENT:RETURNVALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_InitInstrument</key>
		<array>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
