<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_IQC_Grounding_CableLoss</key>
		<array>
			<dict>
				<key>MSGBOX_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>ABUTTONS</key>
					<string>OK</string>
					<key>MESSAGE</key>
					<string>请按再次确认模组已经在正确的位置（Please Make sure the module is in corret position!）</string>
				</dict>
			</dict>
			<dict>
				<key>Init_Instrument:RETURN_VALUE:</key>
				<dict>
					<key>BOARDIDCOUNT</key>
					<integer>1</integer>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>PRIMARYADDRESS</key>
					<integer>22</integer>
					<key>iInstrumentType</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Scan SN</key>
		<array>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string></string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>LCM SN</string>
					<key>LENGTH</key>
					<string>17</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>GET_ISN_FROM_UI:RETURN_VALUE:</key>
				<dict>
					<key>SHOW_SN</key>
					<array>
						<string>LCM SN</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Init Fixture</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Control Board Ver</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Control Board Ver</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Init</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Init</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Vacuum Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Vacuum Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Cylinder Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Cylinder Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Left Side Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Left Side Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Top Side Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Top Side Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Right Side Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Right Side Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Bottom Side Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Bottom Side Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>WAIT_MS:RETURN_VALUE:</key>
				<dict>
					<key>TIME</key>
					<string>2000</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{PASS}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Module Test Point1 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 1 Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 1 Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 1</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 1 Close</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 1 Close</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Module Test Point2 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 2 Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 2 Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 2</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 2 Close</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 2 Close</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Module Test Point3 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 3 Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 3 Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 3</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 3 Close</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 3 Close</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Module Test Point4 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 4 Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 4 Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 4</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 4 Close</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 4 Close</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Module Test Point5 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 5 Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 5 Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 5</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 5 Close</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 5 Close</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Module Test Point6 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 6 Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 6 Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 6</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 6 Close</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 6 Close</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Module Test Point7 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 7 Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 7 Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 7</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 7 Close</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 7 Close</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Module Test Point8 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 8 Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 8 Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 8</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 8 Close</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 8 Close</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Module Test Point9 Loss</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 9 Open</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 9 Open</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SendCommandTimesForAVG:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>MEASure:FRESistance? AUTO</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
					<key>TIMES</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>COUNT_DATA_LOSS:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Point 9</string>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>ChangeScientificToNormal:RETURN_VALUE:</key>
				<dict>
					<key>LENGTH</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>UI_SHOWNVALUE</string>
				</dict>
			</dict>
			<dict>
				<key>Instrument_Send_Command:RETURN_VALUE:</key>
				<dict>
					<key>GPIBCOMMAND</key>
					<string>*RST</string>
					<key>INSTRUMENTNAME</key>
					<string>34401</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>Point 9 Close</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Point 9 Close</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Uninit Fixture</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>All Side Close</string>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>All Side Close</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>*_*</string>
					<key>END_SYMBOL</key>
					<array>
						<string>*_*</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>FIXTURE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{PASS}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_IQC_Grounding_CableLoss</key>
		<array>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>FIXTURE</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
