<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_IQC-RGBW</key>
		<array>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Scan LCD SN</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>LCM SN</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Read Serial Number</key>
		<array>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string></string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>LCM SN</string>
					<key>LENGTH</key>
					<string>17</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>LCDSN</string>
				</dict>
			</dict>
			<dict>
				<key>UPLOADATTRI:RETURN_VALUE:</key>
				<dict>
					<key>ATTRIBUTE</key>
					<array>
						<string>LCDSN</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LCD Vendor</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>LCM SN</string>
				</dict>
			</dict>
			<dict>
				<key>READ_VENDOR:RETURNVALUE:</key>
				<dict>
					<key>F0Y</key>
					<string>LGD</string>
					<key>F5G</key>
					<string>SHARP</string>
					<key>DLN</key>
					<string>SDC</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LCD Config</key>
		<array>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string></string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>LCM SN</string>
					<key>LENGTH</key>
					<string>3</string>
					<key>LOCATION</key>
					<string>17</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LED Vendor</key>
		<array>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string></string>
					<key>END</key>
					<string></string>
					<key>KEY</key>
					<string>LCM SN</string>
					<key>LENGTH</key>
					<string>4</string>
					<key>LOCATION</key>
					<string>20</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>LED</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LED Brt</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>LED</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LED Color</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>LED</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Enter Diag</key>
		<array>
			<dict>
				<key>CHECK_UNIT_LIVE:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<integer>5</integer>
					<key>ReciveCommandForDiags</key>
					<dict>
						<key>RepeatTimes</key>
						<integer>3</integer>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>] :-)</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>18</integer>
					</dict>
					<key>ReciveCommandForReboot</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>END_SYMBOL</key>
						<array>
							<string>] :-)</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>30</integer>
					</dict>
					<key>ReciveCommandForBoot</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>Password:</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>3</integer>
					</dict>
					<key>ReciveCommandForLogIn</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>iPad:~ root#</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>3</integer>
					</dict>
					<key>ReciveCommandForEnter</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>:-)</string>
							<string>]</string>
							<string>login:</string>
							<string>iPad:~ root#</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>1</integer>
						<key>RepeatTimes</key>
						<integer>3</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>3</integer>
					</dict>
					<key>SendCommandDiags</key>
					<dict>
						<key>STRING</key>
						<string>diags</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>SendCommandEnter</key>
					<dict>
						<key>STRING</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Diag Version</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>ver</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>BuildEng</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>(</string>
					<key>END</key>
					<string>)</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>DIAG_VER</string>
				</dict>
			</dict>
			<dict>
				<key>UPLOADATTRI:RETURN_VALUE:</key>
				<dict>
					<key>ATTRIBUTE</key>
					<array>
						<string>DIAG_VER</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Power On LCD</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>display --on</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>display --on</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<false/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Get Board ID</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>boardid</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Board Id:</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>BoardID</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>boardid</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{0x08,0x0A}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Read MLBSN</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg print MLB#</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg print MLB#</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<false/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>OS Version</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>blockdevice</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>blockdevice</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
				</dict>
			</dict>
			<dict>
				<key>CATCH_VALUE:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>fs0: </string>
					<key>END</key>
					<string>.</string>
					<key>KEY</key>
					<string>MOBILE_CATCH</string>
					<key>LENGTH</key>
					<string>0</string>
					<key>LOCATION</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<false/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Read Instrument SN</key>
		<array>
			<dict>
				<key>READ_INSTRUMENT_SN:RETURNVALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Rx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>dwi -l 1654</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string></string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>WAIT_MS:RETURN_VALUE:</key>
				<dict>
					<key>TIME</key>
					<string>200</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0xFF0000</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0xFF0000</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>R</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Rx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Ry</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Ry</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_RY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>RPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Gx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0x00FF00</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0x00FF00</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>G</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Gx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Gy</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Gy</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_GY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>GPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Bx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0x0000FF</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0x0000FF</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>B</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Bx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_By</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>By</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_BY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>BPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Wx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0xFFFFFF</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0xFFFFFF</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>W</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Wx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Wy</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Wy</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_WY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>WPhoto</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[100,]</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Blackx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0x000000</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0x000000</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>Black</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Blackx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Blacky</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Blacky</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_BlackY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>BlackPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Cx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0x00ffff</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0x00ffff</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>C</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Cx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Cy</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Cy</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_CY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>CPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Mx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0xff00ff</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0xff00ff</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>M</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Mx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_My</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>My</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_MY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Yx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0xffff00</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0xffff00</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>Y</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Yx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_Yy</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>Yy</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>default_YY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>YPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Rx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>dwi -l 2003</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string></string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>WAIT_MS:RETURN_VALUE:</key>
				<dict>
					<key>TIME</key>
					<string>200</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0xFF0000</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0xFF0000</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>FR</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FRx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Ry</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FRy</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_RY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FRPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Gx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0x00FF00</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0x00FF00</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>FG</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FGx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Gy</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FGy</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_GY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FGPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Bx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0x0000FF</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0x0000FF</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>FB</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FBx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_By</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FBy</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_BY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FBPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Wx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0xFFFFFF</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0xFFFFFF</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>FW</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FWx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Wy</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FWy</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_WY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FWPhoto</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[300,]</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Blackx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0x000000</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0x000000</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>FBlack</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FBlackx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Blacky</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FBlacky</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_BlackY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FBlackPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Cx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0x00ffff</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0x00ffff</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>FC</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FCx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Cy</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FCy</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_CY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FCPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Mx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0xff00ff</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0xff00ff</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>FM</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FMx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_My</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FMy</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_MY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FMPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Yx</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>pattern --fill 0xffff00</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>pattern --fill 0xffff00</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>NOT FOUND</string>
						<string>FAIL</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>REPEAT</key>
					<integer>1</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>DO_MEASUREMENT:RETURNVALUE:</key>
				<dict>
					<key>ShortPattern</key>
					<string>FY</string>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FYx</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_Yy</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FYy</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>full_YY</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>FYPhoto</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CR</key>
		<array>
			<dict>
				<key>CALCULATOR:RETURN_VALUE:</key>
				<dict>
					<key>DecimalPlaces</key>
					<string>3</string>
					<key>Expression</key>
					<string>/*FWPhoto*///*FBlackPhoto*/</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>[700,]</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Power Off LCD</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>display --off</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>display --off</string>
					<key>DELETE_ENTER</key>
					<false/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<false/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NetWork CB: Check Fatal Error</key>
		<array>
			<dict>
				<key>AMIOK_CHECK:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<true/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>writePDCA</key>
		<array>
			<dict>
				<key>SHOW_PDCA:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_IQC-RGBW</key>
		<array>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_FAIL</key>
					<string>FAIL</string>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
