<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SN</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ISN</string>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Check and Upload file to PDCA</key>
		<array>
			<dict>
				<key>CREATE_FOLDER:RETURN_VALUE:</key>
				<dict>
					<key>Folder</key>
					<string>/ShapeReflectorPPO/UpLoadToPDCA</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_CANCLE_FLAG:RETURN_VALUE:</key>
				<dict>
					<key>FailCancle</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>13</integer>
				</dict>
			</dict>
			<dict>
				<key>CHECKCSV_AndWRITECSV:RETURN_VALUE:</key>
				<dict>
					<key>Folder</key>
					<string>/ShapeReflectorPPO/UpLoadToPDCA</string>
					<key>Path</key>
					<string>/ShapeReflectorPPO/SMALL/iPadMetrics.csv</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_CANCLE_FLAG:RETURN_VALUE:</key>
				<dict>
					<key>FailCancle</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>MOVE_FILE:RETURN_VALUE:</key>
				<dict>
					<key>FROM</key>
					<array>
						<string>/ShapeReflectorPPO/SMALL/oldImages//*ISN*/.JPG</string>
						<string>/ShapeReflectorPPO/SMALL/iPadMetrics.csv</string>
						<string>/ShapeReflectorPPO/SMALL/rawData//*ISN*/.mat</string>
					</array>
					<key>MOVE</key>
					<string>/ShapeReflectorPPO/UpLoadToPDCA</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_CANCLE_FLAG:RETURN_VALUE:</key>
				<dict>
					<key>FailCancle</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>7</integer>
				</dict>
			</dict>
			<dict>
				<key>SAVE_NOWTIME:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>SAVE_NOWDATE:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>COPY_FILE:RETURN_VALUE:</key>
				<dict>
					<key>FilePath</key>
					<string>/ShapeReflectorPPO/UpLoadToPDCA</string>
					<key>Folder</key>
					<string>/ShapeReflectorPPO/SMALL/BackUp//*NowDate*/</string>
					<key>MovedName</key>
					<string>/*ISN*/_/*NowTime*/</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_CANCLE_FLAG:RETURN_VALUE:</key>
				<dict>
					<key>FailCancle</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>UPLOAD_FILE:RETURN_VALUE:</key>
				<dict>
					<key>FileName</key>
					<string>UpLoadToPDCA.zip</string>
					<key>Folder</key>
					<string>/ShapeReflectorPPO/UpLoadToPDCA</string>
				</dict>
			</dict>
			<dict>
				<key>REMOVE_FILE:RETURN_VALUE:</key>
				<dict>
					<key>FilePath</key>
					<string>/ShapeReflectorPPO/UpLoadToPDCA</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Cycle Time</key>
		<array>
			<dict>
				<key>COST_TIME:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
</array>
</plist>
