<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>START_TEST_SMT-PROV</key>
		<array>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<false/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>OPEN_TARGET:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Scan SN</key>
		<array>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>ISN</string>
				</dict>
			</dict>
			<dict>
				<key>GET_SN:RETURN_VALUE:</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Enter Diag</key>
		<array>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>CHECK_UNIT_LIVE:RETURN_VALUE:</key>
				<dict>
					<key>LoopTimes</key>
					<integer>5</integer>
					<key>ReciveCommandForBoot</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>Password:</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>3</integer>
					</dict>
					<key>ReciveCommandForDiags</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>] :-)</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>RepeatTimes</key>
						<integer>3</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>18</integer>
					</dict>
					<key>ReciveCommandForEnter</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>:-)</string>
							<string>]</string>
							<string>login:</string>
							<string>iPad:~ root#</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>1</integer>
						<key>RepeatTimes</key>
						<integer>3</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>3</integer>
					</dict>
					<key>ReciveCommandForLogIn</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string></string>
						<key>END_SYMBOL</key>
						<array>
							<string>iPad:~ root#</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>3</integer>
					</dict>
					<key>ReciveCommandForReboot</key>
					<dict>
						<key>BEGIN</key>
						<string></string>
						<key>DELETE_ENTER</key>
						<true/>
						<key>END</key>
						<string>:-)</string>
						<key>END_SYMBOL</key>
						<array>
							<string>] :-)</string>
						</array>
						<key>FAIL_RECEIVE</key>
						<array/>
						<key>MATCHTYPE</key>
						<integer>0</integer>
						<key>TARGET</key>
						<string>MOBILE</string>
						<key>TIMEOUT</key>
						<integer>30</integer>
					</dict>
					<key>SendCommandDiags</key>
					<dict>
						<key>STRING</key>
						<string>diags</string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
					<key>SendCommandEnter</key>
					<dict>
						<key>STRING</key>
						<string></string>
						<key>TARGET</key>
						<string>MOBILE</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>charge --set 2000</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>charge --set 2000</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>30</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>charge --checkcable</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>charge --checkcable</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{PASS}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Get Board ID</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>boardid</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Board Id: </string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
						<string>FAIL</string>
						<string>NOT FOUND</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>boardid</string>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{0x08,0x0A}</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Burn SysSN</key>
		<array>
			<dict>
				<key>SET_PROCESS_STATUS:RETURN_VALUE:</key>
				<dict>
					<key>CancelToEnd</key>
					<true/>
					<key>IP_NoParametric</key>
					<false/>
					<key>IP_Priority</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg print MLB#</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg print MLB#</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>ERROR</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>MatchReginCode:RETURN_VALUE:</key>
				<dict>
					<key>MatchingTable</key>
					<dict>
						<key>G677</key>
						<string>G6H6</string>
						<key>G67C</key>
						<string>G6HC</string>
						<key>G67G</key>
						<string>G6HC</string>
						<key>G678</key>
						<string>G6H8</string>
						<key>G67D</key>
						<string>G6HF</string>
						<key>G67H</key>
						<string>G6HF</string>
						<key>G679</key>
						<string>G6H9</string>
						<key>G67F</key>
						<string>G6HG</string>
						<key>G67J</key>
						<string>G6HG</string>
						<key>G67R</key>
						<string>FT69</string>
						<key>G67W</key>
						<string>FT6G</string>
						<key>G681</key>
						<string>FT6G</string>
						<key>G67T</key>
						<string>FT6D</string>
						<key>G67Y</key>
						<string>FT6J</string>
						<key>G682</key>
						<string>FT6J</string>
						<key>G67V</key>
						<string>FT6F</string>
						<key>G680</key>
						<string>FT6K</string>
						<key>G683</key>
						<string>FT6K</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>9</integer>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>CCODE</string>
				</dict>
			</dict>
			<dict>
				<key>Provisioning:RETURN_VALUE:</key>
				<dict>
					<key>QuerySN</key>
					<dict>
						<key>QueryItems</key>
						<dict>
							<key>MPN</key>
							<string></string>
							<key>REGION_CODE</key>
							<string></string>
						</dict>
					</dict>
					<key>ScanSN</key>
					<array>
						<dict>
							<key>MPN_UNIT</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>REGION_CODE_UNIT</key>
							<integer>5</integer>
						</dict>
					</array>
					<key>SettingSN</key>
					<dict>
						<key>G677</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02157</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G67C</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02160</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G67G</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02163</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G678</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02158</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G67D</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02161</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G67H</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02164</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G679</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02159</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G67F</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02162</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G67J</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02165</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G67R</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02172</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G67W</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02175</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G681</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02178</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G67T</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02173</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G67Y</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02176</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G682</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02179</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G67V</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02174</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G680</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02177</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
						<key>G683</key>
						<dict>
							<key>MPN_UNIT</key>
							<string>993-02180</string>
							<key>REGION_CODE_UNIT</key>
							<string>LL/A</string>
						</dict>
					</dict>
					<key>TypeFlag</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg init</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg init</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>cbinit</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>cbinit</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg add SrNm /*ISN*/</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg add SrNm /*ISN*/</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>Fail</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{Finish!}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Read Back SysSN</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>sn</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>Serial: </string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array/>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Burn MPN</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg add Mod# /*MPN_UNIT*/</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg add Mod# /*MPN_UNIT*/</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>Fail</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{Finish!}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Read Back MPN</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg print Mod#</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg print Mod#</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>Fail</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>COMPARE:RETURN_VALUE:</key>
				<dict>
					<key>Comparison1</key>
					<dict>
						<key>MAPPING</key>
						<string>/*MPN_UNIT*/</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_CANCLE_FLAG:RETURN_VALUE:</key>
				<dict>
					<key>FailCancle</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>3</integer>
				</dict>
			</dict>
			<dict>
				<key>GET_MEMORY_VALUE_FROM_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MPN_UNIT</string>
				</dict>
			</dict>
			<dict>
				<key>MEMORY_VALUE_FOR_KEY:RETURN_VALUE:</key>
				<dict>
					<key>KEY</key>
					<string>MPN</string>
				</dict>
			</dict>
			<dict>
				<key>UPLOADATTRI:RETURN_VALUE:</key>
				<dict>
					<key>ATTRIBUTE</key>
					<array>
						<string>MPN</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Burn Regn</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg add Regn /*REGION_CODE_UNIT*/</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg add Regn /*REGION_CODE_UNIT*/</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>Fail</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>JUDGE_SPEC:RETURN_VALUE:</key>
				<dict>
					<key>COMMON_SPEC</key>
					<dict>
						<key>P_LimitBlack</key>
						<string>{Finish!}</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Read Back Regn</key>
		<array>
			<dict>
				<key>SEND_COMMAND:</key>
				<dict>
					<key>STRING</key>
					<string>syscfg print Regn</string>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
			<dict>
				<key>READ_COMMAND:RETURN_VALUE:</key>
				<dict>
					<key>BEGIN</key>
					<string>syscfg print Regn</string>
					<key>DELETE_ENTER</key>
					<true/>
					<key>END</key>
					<string>:-)</string>
					<key>END_SYMBOL</key>
					<array>
						<string>:-)</string>
					</array>
					<key>FAIL_RECEIVE</key>
					<array>
						<string>Fail</string>
					</array>
					<key>MATCHTYPE</key>
					<integer>0</integer>
					<key>TARGET</key>
					<string>MOBILE</string>
					<key>TIMEOUT</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>COMPARE:RETURN_VALUE:</key>
				<dict>
					<key>Comparison1</key>
					<dict>
						<key>MAPPING</key>
						<string>/*REGION_CODE_UNIT*/</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>CHANGE_CANCLE_FLAG:RETURN_VALUE:</key>
				<dict>
					<key>FailCancle</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>CancelItems</key>
				<dict>
					<key>CancelCount</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>UPLOADATTRI:RETURN_VALUE:</key>
				<dict>
					<key>ATTRIBUTE</key>
					<array>
						<string>REGION_CODE_UNIT</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>writePDCA</key>
		<array>
			<dict>
				<key>SHOW_PDCA:RETURN_VALUE:</key>
				<dict/>
			</dict>
			<dict>
				<key>CHANGE_RETURNVALUE_TO_PASS_FAIL:RETURN_VALUE:</key>
				<dict>
					<key>SZ_PASS</key>
					<string>PASS</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>END_TEST_SMT-PROV</key>
		<array>
			<dict>
				<key>CLOSE_TARGET:RETURN_VALUE:</key>
				<dict>
					<key>TARGET</key>
					<string>MOBILE</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
